{
    "info": {
        "title": "API title",
        "version": "1.0"
    },
    "swagger": "2.0",
    "produces": [
        "application/json",
        "application/xml"
    ],
    "host": "api.hubstaff.com",
    "tags": [
        {
            "name": "auth",
            "description": "Operations about auths"
        },
        {
            "name": "users",
            "description": "Operations about users"
        },
        {
            "name": "organizations",
            "description": "Operations about organizations"
        },
        {
            "name": "integrations",
            "description": "Operations about integrations"
        },
        {
            "name": "projects",
            "description": "Operations about projects"
        },
        {
            "name": "activities",
            "description": "Operations about activities"
        },
        {
            "name": "screenshots",
            "description": "Operations about screenshots"
        },
        {
            "name": "notes",
            "description": "Operations about notes"
        },
        {
            "name": "tasks",
            "description": "Operations about tasks"
        },
        {
            "name": "weekly",
            "description": "Operations about weeklies"
        },
        {
            "name": "custom",
            "description": "Operations about customs"
        },
        {
            "name": "time_edit_logs",
            "description": "Operations about time_edit_logs"
        },
        {
            "name": "team_payments",
            "description": "Operations about team_payments"
        }
    ],
    "paths": {
        "/v1/auth": {
            "post": {
                "description": "Obtain auth token for a user",
                "produces": [
                    "application/json"
                ],
                "consumes": [
                    "application/x-www-form-urlencoded",
                    "application/json"
                ],
                "parameters": [
                    {
                        "in": "header",
                        "name": "App-Token",
                        "description": "Application app token",
                        "type": "string",
                        "required": true
                    },
                    {
                        "in": "formData",
                        "name": "email",
                        "description": "User email",
                        "type": "string",
                        "required": true
                    },
                    {
                        "in": "formData",
                        "name": "password",
                        "description": "User password",
                        "type": "string",
                        "required": true
                    }
                ],
                "responses": {
                    "201": {
                        "description": "Obtain auth token for a user",
                        "schema": {
                            "$ref": "#/definitions/user_with_auth_token"
                        }
                    },
                    "401": {
                        "description": "Invalid email and/or password"
                    },
                    "403": {
                        "description": "API access is only for organizations on an active plan"
                    }
                },
                "tags": [
                    "auth"
                ],
                "operationId": "postV1Auth"
            }
        },
        "/v1/users": {
            "get": {
                "description": "Retrieve users",
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "in": "header",
                        "name": "Auth-Token",
                        "description": "User auth token",
                        "type": "string",
                        "required": true
                    },
                    {
                        "in": "header",
                        "name": "App-Token",
                        "description": "Application app token",
                        "type": "string",
                        "required": true
                    },
                    {
                        "in": "query",
                        "name": "organization_memberships",
                        "description": "Include the organization memberships for each user",
                        "type": "boolean",
                        "required": false
                    },
                    {
                        "in": "query",
                        "name": "project_memberships",
                        "description": "Include the project memberships for each user",
                        "type": "boolean",
                        "required": false
                    },
                    {
                        "in": "query",
                        "name": "offset",
                        "description": "Index of the first record returned (starts at 0)",
                        "type": "integer",
                        "format": "int32",
                        "default": 0,
                        "required": false
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Retrieve users",
                        "schema": {
                            "$ref": "#/definitions/user_with_organizations_and_projects"
                        }
                    },
                    "401": {
                        "description": "Unauthorized"
                    },
                    "403": {
                        "description": "API access is only for organizations on an active plan"
                    }
                },
                "tags": [
                    "users"
                ],
                "operationId": "getV1Users"
            }
        },
        "/v1/users/{id}/projects": {
            "get": {
                "description": "Retrieve project memberships for a user",
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "in": "header",
                        "name": "Auth-Token",
                        "description": "User auth token",
                        "type": "string",
                        "required": true
                    },
                    {
                        "in": "header",
                        "name": "App-Token",
                        "description": "Application app token",
                        "type": "string",
                        "required": true
                    },
                    {
                        "in": "path",
                        "name": "id",
                        "description": "User ID",
                        "type": "integer",
                        "format": "int32",
                        "required": true
                    },
                    {
                        "in": "query",
                        "name": "offset",
                        "description": "Index of the first record returned (starts at 0)",
                        "type": "integer",
                        "format": "int32",
                        "default": 0,
                        "required": false
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Retrieve project memberships for a user",
                        "schema": {
                            "$ref": "#/definitions/project_with_status_and_description"
                        }
                    },
                    "401": {
                        "description": "Unauthorized"
                    },
                    "403": {
                        "description": "API access is only for organizations on an active plan"
                    },
                    "404": {
                        "description": "Could not find record"
                    }
                },
                "tags": [
                    "users"
                ],
                "operationId": "getV1UsersIdProjects"
            }
        },
        "/v1/users/{id}/organizations": {
            "get": {
                "description": "Retrieve organization memberships for a user",
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "in": "header",
                        "name": "Auth-Token",
                        "description": "User auth token",
                        "type": "string",
                        "required": true
                    },
                    {
                        "in": "header",
                        "name": "App-Token",
                        "description": "Application app token",
                        "type": "string",
                        "required": true
                    },
                    {
                        "in": "path",
                        "name": "id",
                        "description": "User ID",
                        "type": "integer",
                        "format": "int32",
                        "required": true
                    },
                    {
                        "in": "query",
                        "name": "offset",
                        "description": "Index of the first record returned (starts at 0)",
                        "type": "integer",
                        "format": "int32",
                        "default": 0,
                        "required": false
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Retrieve organization memberships for a user",
                        "schema": {
                            "$ref": "#/definitions/organization"
                        }
                    },
                    "401": {
                        "description": "Unauthorized"
                    },
                    "403": {
                        "description": "API access is only for organizations on an active plan"
                    },
                    "404": {
                        "description": "Could not find record"
                    }
                },
                "tags": [
                    "users"
                ],
                "operationId": "getV1UsersIdOrganizations"
            }
        },
        "/v1/users/{id}": {
            "get": {
                "description": "Retrieve a user",
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "in": "header",
                        "name": "Auth-Token",
                        "description": "User auth token",
                        "type": "string",
                        "required": true
                    },
                    {
                        "in": "header",
                        "name": "App-Token",
                        "description": "Application app token",
                        "type": "string",
                        "required": true
                    },
                    {
                        "in": "path",
                        "name": "id",
                        "description": "User ID",
                        "type": "integer",
                        "format": "int32",
                        "required": true
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Retrieve a user",
                        "schema": {
                            "$ref": "#/definitions/user_with_email"
                        }
                    },
                    "401": {
                        "description": "Unauthorized"
                    },
                    "403": {
                        "description": "API access is only for organizations on an active plan"
                    },
                    "404": {
                        "description": "Could not find record"
                    }
                },
                "tags": [
                    "users"
                ],
                "operationId": "getV1UsersId"
            }
        },
        "/v1/organizations": {
            "get": {
                "description": "Retrieve organizations",
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "in": "header",
                        "name": "Auth-Token",
                        "description": "User auth token",
                        "type": "string",
                        "required": true
                    },
                    {
                        "in": "header",
                        "name": "App-Token",
                        "description": "Application app token",
                        "type": "string",
                        "required": true
                    },
                    {
                        "in": "query",
                        "name": "offset",
                        "description": "Index of the first record returned (starts at 0)",
                        "type": "integer",
                        "format": "int32",
                        "default": 0,
                        "required": false
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Retrieve organizations",
                        "schema": {
                            "$ref": "#/definitions/organization"
                        }
                    },
                    "401": {
                        "description": "Unauthorized"
                    },
                    "403": {
                        "description": "API access is only for organizations on an active plan"
                    }
                },
                "tags": [
                    "organizations"
                ],
                "operationId": "getV1Organizations"
            }
        },
        "/v1/organizations/{id}/integrations": {
            "get": {
                "description": "Retrieve integrations for an organization",
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "in": "header",
                        "name": "Auth-Token",
                        "description": "User auth token",
                        "type": "string",
                        "required": true
                    },
                    {
                        "in": "header",
                        "name": "App-Token",
                        "description": "Application app token",
                        "type": "string",
                        "required": true
                    },
                    {
                        "in": "path",
                        "name": "id",
                        "description": "Organization ID",
                        "type": "integer",
                        "format": "int32",
                        "required": true
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Retrieve integrations for an organization",
                        "schema": {
                            "$ref": "#/definitions/integration"
                        }
                    },
                    "401": {
                        "description": "Unauthorized"
                    },
                    "403": {
                        "description": "API access is only for organizations on an active plan"
                    },
                    "404": {
                        "description": "Could not find record"
                    }
                },
                "tags": [
                    "organizations"
                ],
                "operationId": "getV1OrganizationsIdIntegrations"
            }
        },
        "/v1/organizations/{id}/last_activity": {
            "get": {
                "description": "Retrieve users last activity for an organization",
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "in": "header",
                        "name": "Auth-Token",
                        "description": "User auth token",
                        "type": "string",
                        "required": true
                    },
                    {
                        "in": "header",
                        "name": "App-Token",
                        "description": "Application app token",
                        "type": "string",
                        "required": true
                    },
                    {
                        "in": "path",
                        "name": "id",
                        "description": "Organization ID",
                        "type": "integer",
                        "format": "int32",
                        "required": true
                    },
                    {
                        "in": "query",
                        "name": "include_removed",
                        "description": "Include users that are removed from the organization",
                        "type": "boolean",
                        "required": false
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Retrieve users last activity for an organization",
                        "schema": {
                            "$ref": "#/definitions/user_organization_last_activity"
                        }
                    },
                    "401": {
                        "description": "Unauthorized"
                    },
                    "403": {
                        "description": "API access is only for organizations on an active plan"
                    },
                    "404": {
                        "description": "Could not find record"
                    }
                },
                "tags": [
                    "organizations"
                ],
                "operationId": "getV1OrganizationsIdLastActivity"
            }
        },
        "/v1/organizations/{id}/members": {
            "get": {
                "description": "Retrieve users for an organization",
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "in": "header",
                        "name": "Auth-Token",
                        "description": "User auth token",
                        "type": "string",
                        "required": true
                    },
                    {
                        "in": "header",
                        "name": "App-Token",
                        "description": "Application app token",
                        "type": "string",
                        "required": true
                    },
                    {
                        "in": "path",
                        "name": "id",
                        "description": "Organization ID",
                        "type": "integer",
                        "format": "int32",
                        "required": true
                    },
                    {
                        "in": "query",
                        "name": "include_removed",
                        "description": "Include users that are removed from the organization",
                        "type": "boolean",
                        "required": false
                    },
                    {
                        "in": "query",
                        "name": "offset",
                        "description": "Index of the first record returned (starts at 0)",
                        "type": "integer",
                        "format": "int32",
                        "default": 0,
                        "required": false
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Retrieve users for an organization",
                        "schema": {
                            "$ref": "#/definitions/user_with_email"
                        }
                    },
                    "401": {
                        "description": "Unauthorized"
                    },
                    "403": {
                        "description": "API access is only for organizations on an active plan"
                    },
                    "404": {
                        "description": "Could not find record"
                    }
                },
                "tags": [
                    "organizations"
                ],
                "operationId": "getV1OrganizationsIdMembers"
            }
        },
        "/v1/organizations/{id}/projects": {
            "get": {
                "description": "Retrieve projects for an organization",
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "in": "header",
                        "name": "Auth-Token",
                        "description": "User auth token",
                        "type": "string",
                        "required": true
                    },
                    {
                        "in": "header",
                        "name": "App-Token",
                        "description": "Application app token",
                        "type": "string",
                        "required": true
                    },
                    {
                        "in": "path",
                        "name": "id",
                        "description": "Organization ID",
                        "type": "integer",
                        "format": "int32",
                        "required": true
                    },
                    {
                        "in": "query",
                        "name": "offset",
                        "description": "Index of the first record returned (starts at 0)",
                        "type": "integer",
                        "format": "int32",
                        "default": 0,
                        "required": false
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Retrieve projects for an organization",
                        "schema": {
                            "$ref": "#/definitions/project_with_status_and_description"
                        }
                    },
                    "401": {
                        "description": "Unauthorized"
                    },
                    "403": {
                        "description": "API access is only for organizations on an active plan"
                    },
                    "404": {
                        "description": "Could not find record"
                    }
                },
                "tags": [
                    "organizations"
                ],
                "operationId": "getV1OrganizationsIdProjects"
            }
        },
        "/v1/organizations/{id}": {
            "get": {
                "description": "Retrieve an organization",
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "in": "header",
                        "name": "Auth-Token",
                        "description": "User auth token",
                        "type": "string",
                        "required": true
                    },
                    {
                        "in": "header",
                        "name": "App-Token",
                        "description": "Application app token",
                        "type": "string",
                        "required": true
                    },
                    {
                        "in": "path",
                        "name": "id",
                        "description": "Organization ID",
                        "type": "integer",
                        "format": "int32",
                        "required": true
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Retrieve an organization",
                        "schema": {
                            "$ref": "#/definitions/organization"
                        }
                    },
                    "401": {
                        "description": "Unauthorized"
                    },
                    "403": {
                        "description": "API access is only for organizations on an active plan"
                    },
                    "404": {
                        "description": "Could not find record"
                    }
                },
                "tags": [
                    "organizations"
                ],
                "operationId": "getV1OrganizationsId"
            }
        },
        "/v1/integrations": {
            "get": {
                "description": "Retrieve integrations",
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "in": "header",
                        "name": "Auth-Token",
                        "description": "User auth token",
                        "type": "string",
                        "required": true
                    },
                    {
                        "in": "header",
                        "name": "App-Token",
                        "description": "Application app token",
                        "type": "string",
                        "required": true
                    },
                    {
                        "in": "formData",
                        "name": "organizations",
                        "description": "List of organization IDs (comma separated)",
                        "type": "array",
                        "items": {
                            "type": "integer",
                            "format": "int32"
                        },
                        "required": false
                    },
                    {
                        "in": "query",
                        "name": "offset",
                        "description": "Index of the first record returned (starts at 0)",
                        "type": "integer",
                        "format": "int32",
                        "default": 0,
                        "required": false
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Retrieve integrations",
                        "schema": {
                            "$ref": "#/definitions/integration"
                        }
                    },
                    "401": {
                        "description": "Unauthorized"
                    },
                    "403": {
                        "description": "API access is only for organizations on an active plan"
                    },
                    "404": {
                        "description": "Could not find record"
                    }
                },
                "tags": [
                    "integrations"
                ],
                "operationId": "getV1Integrations"
            }
        },
        "/v1/projects": {
            "get": {
                "description": "Retrieve projects",
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "in": "header",
                        "name": "Auth-Token",
                        "description": "User auth token",
                        "type": "string",
                        "required": true
                    },
                    {
                        "in": "header",
                        "name": "App-Token",
                        "description": "Application app token",
                        "type": "string",
                        "required": true
                    },
                    {
                        "in": "query",
                        "name": "status",
                        "description": "Project status",
                        "type": "string",
                        "enum": [
                            "active",
                            "archived"
                        ],
                        "required": false
                    },
                    {
                        "in": "query",
                        "name": "offset",
                        "description": "Index of the first record returned (starts at 0)",
                        "type": "integer",
                        "format": "int32",
                        "default": 0,
                        "required": false
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Retrieve projects",
                        "schema": {
                            "$ref": "#/definitions/project_with_status_and_description"
                        }
                    },
                    "401": {
                        "description": "Unauthorized"
                    },
                    "403": {
                        "description": "API access is only for organizations on an active plan"
                    }
                },
                "tags": [
                    "projects"
                ],
                "operationId": "getV1Projects"
            }
        },
        "/v1/projects/{id}/links": {
            "get": {
                "description": "Retrieve integrations for a project",
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "in": "header",
                        "name": "Auth-Token",
                        "description": "User auth token",
                        "type": "string",
                        "required": true
                    },
                    {
                        "in": "header",
                        "name": "App-Token",
                        "description": "Application app token",
                        "type": "string",
                        "required": true
                    },
                    {
                        "in": "path",
                        "name": "id",
                        "description": "Project ID",
                        "type": "integer",
                        "format": "int32",
                        "required": true
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Retrieve integrations for a project",
                        "schema": {
                            "$ref": "#/definitions/integration_project_link"
                        }
                    },
                    "401": {
                        "description": "Unauthorized"
                    },
                    "403": {
                        "description": "API access is only for organizations on an active plan"
                    },
                    "404": {
                        "description": "Could not find record"
                    }
                },
                "tags": [
                    "projects"
                ],
                "operationId": "getV1ProjectsIdLinks"
            }
        },
        "/v1/projects/{id}/last_activity": {
            "get": {
                "description": "Retrieve users last activity for a project",
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "in": "header",
                        "name": "Auth-Token",
                        "description": "User auth token",
                        "type": "string",
                        "required": true
                    },
                    {
                        "in": "header",
                        "name": "App-Token",
                        "description": "Application app token",
                        "type": "string",
                        "required": true
                    },
                    {
                        "in": "path",
                        "name": "id",
                        "description": "Project ID",
                        "type": "integer",
                        "format": "int32",
                        "required": true
                    },
                    {
                        "in": "query",
                        "name": "include_removed",
                        "description": "Include users that are removed from the project",
                        "type": "boolean",
                        "required": false
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Retrieve users last activity for a project",
                        "schema": {
                            "$ref": "#/definitions/user_project_last_activity"
                        }
                    },
                    "401": {
                        "description": "Unauthorized"
                    },
                    "403": {
                        "description": "API access is only for organizations on an active plan"
                    },
                    "404": {
                        "description": "Could not find record"
                    }
                },
                "tags": [
                    "projects"
                ],
                "operationId": "getV1ProjectsIdLastActivity"
            }
        },
        "/v1/projects/{id}/members": {
            "get": {
                "description": "Retrieve users for a project",
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "in": "header",
                        "name": "Auth-Token",
                        "description": "User auth token",
                        "type": "string",
                        "required": true
                    },
                    {
                        "in": "header",
                        "name": "App-Token",
                        "description": "Application app token",
                        "type": "string",
                        "required": true
                    },
                    {
                        "in": "path",
                        "name": "id",
                        "description": "Project ID",
                        "type": "integer",
                        "format": "int32",
                        "required": true
                    },
                    {
                        "in": "query",
                        "name": "include_removed",
                        "description": "Include users that are removed from the project",
                        "type": "boolean",
                        "required": false
                    },
                    {
                        "in": "query",
                        "name": "offset",
                        "description": "Index of the first record returned (starts at 0)",
                        "type": "integer",
                        "format": "int32",
                        "default": 0,
                        "required": false
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Retrieve users for a project",
                        "schema": {
                            "$ref": "#/definitions/user_with_email"
                        }
                    },
                    "401": {
                        "description": "Unauthorized"
                    },
                    "403": {
                        "description": "API access is only for organizations on an active plan"
                    },
                    "404": {
                        "description": "Could not find record"
                    }
                },
                "tags": [
                    "projects"
                ],
                "operationId": "getV1ProjectsIdMembers"
            }
        },
        "/v1/projects/{id}": {
            "get": {
                "description": "Retrieve a project",
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "in": "header",
                        "name": "Auth-Token",
                        "description": "User auth token",
                        "type": "string",
                        "required": true
                    },
                    {
                        "in": "header",
                        "name": "App-Token",
                        "description": "Application app token",
                        "type": "string",
                        "required": true
                    },
                    {
                        "in": "path",
                        "name": "id",
                        "description": "Project ID",
                        "type": "integer",
                        "format": "int32",
                        "required": true
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Retrieve a project",
                        "schema": {
                            "$ref": "#/definitions/project_with_status_and_description"
                        }
                    },
                    "401": {
                        "description": "Unauthorized"
                    },
                    "403": {
                        "description": "API access is only for organizations on an active plan"
                    },
                    "404": {
                        "description": "Could not find record"
                    }
                },
                "tags": [
                    "projects"
                ],
                "operationId": "getV1ProjectsId"
            }
        },
        "/v1/activities": {
            "get": {
                "description": "Retrieve activities",
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "in": "header",
                        "name": "Auth-Token",
                        "description": "User auth token",
                        "type": "string",
                        "required": true
                    },
                    {
                        "in": "header",
                        "name": "App-Token",
                        "description": "Application app token",
                        "type": "string",
                        "required": true
                    },
                    {
                        "in": "query",
                        "name": "start_time",
                        "description": "Start time (ISO 8601)",
                        "type": "string",
                        "format": "date-time",
                        "required": true
                    },
                    {
                        "in": "query",
                        "name": "stop_time",
                        "description": "Stop time (ISO 8601)",
                        "type": "string",
                        "format": "date-time",
                        "required": true
                    },
                    {
                        "in": "formData",
                        "name": "organizations",
                        "description": "List of organization IDs (comma separated)",
                        "type": "array",
                        "items": {
                            "type": "integer",
                            "format": "int32"
                        },
                        "required": false
                    },
                    {
                        "in": "formData",
                        "name": "projects",
                        "description": "List of project IDs (comma separated)",
                        "type": "array",
                        "items": {
                            "type": "integer",
                            "format": "int32"
                        },
                        "required": false
                    },
                    {
                        "in": "formData",
                        "name": "users",
                        "description": "List of user IDs (comma separated)",
                        "type": "array",
                        "items": {
                            "type": "integer",
                            "format": "int32"
                        },
                        "required": false
                    },
                    {
                        "in": "query",
                        "name": "offset",
                        "description": "Index of the first record returned (starts at 0)",
                        "type": "integer",
                        "format": "int32",
                        "default": 0,
                        "required": false
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Retrieve activities",
                        "schema": {
                            "$ref": "#/definitions/activity"
                        }
                    },
                    "401": {
                        "description": "Unauthorized"
                    },
                    "403": {
                        "description": "API access is only for organizations on an active plan"
                    }
                },
                "tags": [
                    "activities"
                ],
                "operationId": "getV1Activities"
            }
        },
        "/v1/activities/applications": {
            "get": {
                "description": "Retrieve application activities",
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "in": "header",
                        "name": "Auth-Token",
                        "description": "User auth token",
                        "type": "string",
                        "required": true
                    },
                    {
                        "in": "header",
                        "name": "App-Token",
                        "description": "Application app token",
                        "type": "string",
                        "required": true
                    },
                    {
                        "in": "query",
                        "name": "start_time",
                        "description": "Start time (ISO 8601)",
                        "type": "string",
                        "format": "date-time",
                        "required": true
                    },
                    {
                        "in": "query",
                        "name": "stop_time",
                        "description": "Stop time (ISO 8601)",
                        "type": "string",
                        "format": "date-time",
                        "required": true
                    },
                    {
                        "in": "formData",
                        "name": "organizations",
                        "description": "List of organization IDs (comma separated)",
                        "type": "array",
                        "items": {
                            "type": "integer",
                            "format": "int32"
                        },
                        "required": false
                    },
                    {
                        "in": "formData",
                        "name": "projects",
                        "description": "List of project IDs (comma separated)",
                        "type": "array",
                        "items": {
                            "type": "integer",
                            "format": "int32"
                        },
                        "required": false
                    },
                    {
                        "in": "formData",
                        "name": "users",
                        "description": "List of user IDs (comma separated)",
                        "type": "array",
                        "items": {
                            "type": "integer",
                            "format": "int32"
                        },
                        "required": false
                    },
                    {
                        "in": "query",
                        "name": "offset",
                        "description": "Index of the first record returned (starts at 0)",
                        "type": "integer",
                        "format": "int32",
                        "default": 0,
                        "required": false
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Retrieve application activities",
                        "schema": {
                            "$ref": "#/definitions/application_activity"
                        }
                    },
                    "401": {
                        "description": "Unauthorized"
                    },
                    "403": {
                        "description": "API access is only for organizations on an active plan"
                    }
                },
                "tags": [
                    "activities"
                ],
                "operationId": "getV1ActivitiesApplications"
            }
        },
        "/v1/activities/urls": {
            "get": {
                "description": "Retrieve URL activities",
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "in": "header",
                        "name": "Auth-Token",
                        "description": "User auth token",
                        "type": "string",
                        "required": true
                    },
                    {
                        "in": "header",
                        "name": "App-Token",
                        "description": "Application app token",
                        "type": "string",
                        "required": true
                    },
                    {
                        "in": "query",
                        "name": "start_time",
                        "description": "Start time (ISO 8601)",
                        "type": "string",
                        "format": "date-time",
                        "required": true
                    },
                    {
                        "in": "query",
                        "name": "stop_time",
                        "description": "Stop time (ISO 8601)",
                        "type": "string",
                        "format": "date-time",
                        "required": true
                    },
                    {
                        "in": "formData",
                        "name": "organizations",
                        "description": "List of organization IDs (comma separated)",
                        "type": "array",
                        "items": {
                            "type": "integer",
                            "format": "int32"
                        },
                        "required": false
                    },
                    {
                        "in": "formData",
                        "name": "projects",
                        "description": "List of project IDs (comma separated)",
                        "type": "array",
                        "items": {
                            "type": "integer",
                            "format": "int32"
                        },
                        "required": false
                    },
                    {
                        "in": "formData",
                        "name": "users",
                        "description": "List of user IDs (comma separated)",
                        "type": "array",
                        "items": {
                            "type": "integer",
                            "format": "int32"
                        },
                        "required": false
                    },
                    {
                        "in": "query",
                        "name": "offset",
                        "description": "Index of the first record returned (starts at 0)",
                        "type": "integer",
                        "format": "int32",
                        "default": 0,
                        "required": false
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Retrieve URL activities",
                        "schema": {
                            "$ref": "#/definitions/url_activity"
                        }
                    },
                    "401": {
                        "description": "Unauthorized"
                    },
                    "403": {
                        "description": "API access is only for organizations on an active plan"
                    }
                },
                "tags": [
                    "activities"
                ],
                "operationId": "getV1ActivitiesUrls"
            }
        },
        "/v1/screenshots": {
            "get": {
                "description": "Retrieve screenshots",
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "in": "header",
                        "name": "Auth-Token",
                        "description": "User auth token",
                        "type": "string",
                        "required": true
                    },
                    {
                        "in": "header",
                        "name": "App-Token",
                        "description": "Application app token",
                        "type": "string",
                        "required": true
                    },
                    {
                        "in": "query",
                        "name": "start_time",
                        "description": "Start time (ISO 8601)",
                        "type": "string",
                        "format": "date-time",
                        "required": true
                    },
                    {
                        "in": "query",
                        "name": "stop_time",
                        "description": "Stop time (ISO 8601)",
                        "type": "string",
                        "format": "date-time",
                        "required": true
                    },
                    {
                        "in": "formData",
                        "name": "organizations",
                        "description": "List of organization IDs (comma separated)",
                        "type": "array",
                        "items": {
                            "type": "integer",
                            "format": "int32"
                        },
                        "required": false
                    },
                    {
                        "in": "formData",
                        "name": "projects",
                        "description": "List of project IDs (comma separated)",
                        "type": "array",
                        "items": {
                            "type": "integer",
                            "format": "int32"
                        },
                        "required": false
                    },
                    {
                        "in": "formData",
                        "name": "users",
                        "description": "List of user IDs (comma separated)",
                        "type": "array",
                        "items": {
                            "type": "integer",
                            "format": "int32"
                        },
                        "required": false
                    },
                    {
                        "in": "query",
                        "name": "offset",
                        "description": "Index of the first record returned (starts at 0)",
                        "type": "integer",
                        "format": "int32",
                        "default": 0,
                        "required": false
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Retrieve screenshots",
                        "schema": {
                            "$ref": "#/definitions/screenshot"
                        }
                    },
                    "401": {
                        "description": "Unauthorized"
                    },
                    "403": {
                        "description": "API access is only for organizations on an active plan"
                    }
                },
                "tags": [
                    "screenshots"
                ],
                "operationId": "getV1Screenshots"
            }
        },
        "/v1/notes": {
            "get": {
                "description": "Retrieve notes",
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "in": "header",
                        "name": "Auth-Token",
                        "description": "User auth token",
                        "type": "string",
                        "required": true
                    },
                    {
                        "in": "header",
                        "name": "App-Token",
                        "description": "Application app token",
                        "type": "string",
                        "required": true
                    },
                    {
                        "in": "query",
                        "name": "start_time",
                        "description": "Start time",
                        "type": "string",
                        "format": "date-time",
                        "required": true
                    },
                    {
                        "in": "query",
                        "name": "stop_time",
                        "description": "Stop time",
                        "type": "string",
                        "format": "date-time",
                        "required": true
                    },
                    {
                        "in": "formData",
                        "name": "organizations",
                        "description": "List of organization IDs (comma separated)",
                        "type": "array",
                        "items": {
                            "type": "integer",
                            "format": "int32"
                        },
                        "required": false
                    },
                    {
                        "in": "formData",
                        "name": "projects",
                        "description": "List of project IDs (comma separated)",
                        "type": "array",
                        "items": {
                            "type": "integer",
                            "format": "int32"
                        },
                        "required": false
                    },
                    {
                        "in": "formData",
                        "name": "users",
                        "description": "List of user IDs (comma separated)",
                        "type": "array",
                        "items": {
                            "type": "integer",
                            "format": "int32"
                        },
                        "required": false
                    },
                    {
                        "in": "query",
                        "name": "offset",
                        "description": "Index of the first record returned (starts at 0)",
                        "type": "integer",
                        "format": "int32",
                        "default": 0,
                        "required": false
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Retrieve notes",
                        "schema": {
                            "$ref": "#/definitions/note_extended"
                        }
                    },
                    "401": {
                        "description": "Unauthorized"
                    },
                    "403": {
                        "description": "API access is only for organizations on an active plan"
                    }
                },
                "tags": [
                    "notes"
                ],
                "operationId": "getV1Notes"
            }
        },
        "/v1/notes/{id}": {
            "get": {
                "description": "Retrieve a note",
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "in": "header",
                        "name": "Auth-Token",
                        "description": "User auth token",
                        "type": "string",
                        "required": true
                    },
                    {
                        "in": "header",
                        "name": "App-Token",
                        "description": "Application app token",
                        "type": "string",
                        "required": true
                    },
                    {
                        "in": "path",
                        "name": "id",
                        "description": "Note ID",
                        "type": "integer",
                        "format": "int32",
                        "required": true
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Retrieve a note",
                        "schema": {
                            "$ref": "#/definitions/note_extended"
                        }
                    },
                    "401": {
                        "description": "Unauthorized"
                    },
                    "403": {
                        "description": "API access is only for organizations on an active plan"
                    },
                    "404": {
                        "description": "Could not find record"
                    }
                },
                "tags": [
                    "notes"
                ],
                "operationId": "getV1NotesId"
            }
        },
        "/v1/tasks": {
            "get": {
                "description": "Retrieve tasks",
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "in": "header",
                        "name": "Auth-Token",
                        "description": "User auth token",
                        "type": "string",
                        "required": true
                    },
                    {
                        "in": "header",
                        "name": "App-Token",
                        "description": "Application app token",
                        "type": "string",
                        "required": true
                    },
                    {
                        "in": "formData",
                        "name": "projects",
                        "description": "List of project IDs (comma separated)",
                        "type": "array",
                        "items": {
                            "type": "integer",
                            "format": "int32"
                        },
                        "required": false
                    },
                    {
                        "in": "query",
                        "name": "offset",
                        "description": "Index of the first record returned (starts at 0)",
                        "type": "integer",
                        "format": "int32",
                        "default": 0,
                        "required": false
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Retrieve tasks",
                        "schema": {
                            "$ref": "#/definitions/task_extended"
                        }
                    },
                    "401": {
                        "description": "Unauthorized"
                    },
                    "403": {
                        "description": "API access is only for organizations on an active plan"
                    }
                },
                "tags": [
                    "tasks"
                ],
                "operationId": "getV1Tasks"
            }
        },
        "/v1/tasks/{id}": {
            "get": {
                "description": "Retrieve a task",
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "in": "header",
                        "name": "Auth-Token",
                        "description": "User auth token",
                        "type": "string",
                        "required": true
                    },
                    {
                        "in": "header",
                        "name": "App-Token",
                        "description": "Application app token",
                        "type": "string",
                        "required": true
                    },
                    {
                        "in": "path",
                        "name": "id",
                        "description": "Task ID",
                        "type": "integer",
                        "format": "int32",
                        "required": true
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Retrieve a task",
                        "schema": {
                            "$ref": "#/definitions/task_extended"
                        }
                    },
                    "401": {
                        "description": "Unauthorized"
                    },
                    "403": {
                        "description": "API access is only for organizations on an active plan"
                    },
                    "404": {
                        "description": "Could not find record"
                    }
                },
                "tags": [
                    "tasks"
                ],
                "operationId": "getV1TasksId"
            }
        },
        "/v1/weekly/my": {
            "get": {
                "description": "Retrieve time worked my report for a week",
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "in": "header",
                        "name": "Auth-Token",
                        "description": "User auth token",
                        "type": "string",
                        "required": true
                    },
                    {
                        "in": "header",
                        "name": "App-Token",
                        "description": "Application app token",
                        "type": "string",
                        "required": true
                    },
                    {
                        "in": "query",
                        "name": "date",
                        "description": "Date in week (yyyy-mm-dd, default: current week)",
                        "type": "string",
                        "format": "date",
                        "required": false
                    },
                    {
                        "in": "formData",
                        "name": "organizations",
                        "description": "List of organization IDs (comma separated)",
                        "type": "array",
                        "items": {
                            "type": "integer",
                            "format": "int32"
                        },
                        "required": false
                    },
                    {
                        "in": "formData",
                        "name": "projects",
                        "description": "List of project IDs (comma separated)",
                        "type": "array",
                        "items": {
                            "type": "integer",
                            "format": "int32"
                        },
                        "required": false
                    },
                    {
                        "in": "formData",
                        "name": "users",
                        "description": "List of user IDs (comma separated)",
                        "type": "array",
                        "items": {
                            "type": "integer",
                            "format": "int32"
                        },
                        "required": false
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Retrieve time worked my report for a week",
                        "schema": {
                            "$ref": "#/definitions/organization_with_users"
                        }
                    },
                    "401": {
                        "description": "Unauthorized"
                    },
                    "403": {
                        "description": "API access is only for organizations on an active plan"
                    }
                },
                "tags": [
                    "weekly"
                ],
                "operationId": "getV1WeeklyMy"
            }
        },
        "/v1/weekly/team": {
            "get": {
                "description": "Retrieve time worked team report for a week",
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "in": "header",
                        "name": "Auth-Token",
                        "description": "User auth token",
                        "type": "string",
                        "required": true
                    },
                    {
                        "in": "header",
                        "name": "App-Token",
                        "description": "Application app token",
                        "type": "string",
                        "required": true
                    },
                    {
                        "in": "query",
                        "name": "date",
                        "description": "Date in week (yyyy-mm-dd, default: current week)",
                        "type": "string",
                        "format": "date",
                        "required": false
                    },
                    {
                        "in": "formData",
                        "name": "organizations",
                        "description": "List of organization IDs (comma separated)",
                        "type": "array",
                        "items": {
                            "type": "integer",
                            "format": "int32"
                        },
                        "required": false
                    },
                    {
                        "in": "formData",
                        "name": "projects",
                        "description": "List of project IDs (comma separated)",
                        "type": "array",
                        "items": {
                            "type": "integer",
                            "format": "int32"
                        },
                        "required": false
                    },
                    {
                        "in": "formData",
                        "name": "users",
                        "description": "List of user IDs (comma separated)",
                        "type": "array",
                        "items": {
                            "type": "integer",
                            "format": "int32"
                        },
                        "required": false
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Retrieve time worked team report for a week",
                        "schema": {
                            "$ref": "#/definitions/organization_with_users"
                        }
                    },
                    "401": {
                        "description": "Unauthorized"
                    },
                    "403": {
                        "description": "API access is only for organizations on an active plan"
                    }
                },
                "tags": [
                    "weekly"
                ],
                "operationId": "getV1WeeklyTeam"
            }
        },
        "/v1/custom/by_project/my": {
            "get": {
                "description": "Retrieve custom my report grouped by project",
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "in": "header",
                        "name": "Auth-Token",
                        "description": "User auth token",
                        "type": "string",
                        "required": true
                    },
                    {
                        "in": "header",
                        "name": "App-Token",
                        "description": "Application app token",
                        "type": "string",
                        "required": true
                    },
                    {
                        "in": "query",
                        "name": "start_date",
                        "description": "Start date (yyyy-mm-dd)",
                        "type": "string",
                        "format": "date",
                        "required": true
                    },
                    {
                        "in": "query",
                        "name": "end_date",
                        "description": "End date (yyyy-mm-dd)",
                        "type": "string",
                        "format": "date",
                        "required": true
                    },
                    {
                        "in": "formData",
                        "name": "organizations",
                        "description": "List of organization IDs (comma separated)",
                        "type": "array",
                        "items": {
                            "type": "integer",
                            "format": "int32"
                        },
                        "required": false
                    },
                    {
                        "in": "formData",
                        "name": "projects",
                        "description": "List of project IDs (comma separated)",
                        "type": "array",
                        "items": {
                            "type": "integer",
                            "format": "int32"
                        },
                        "required": false
                    },
                    {
                        "in": "formData",
                        "name": "users",
                        "description": "List of users IDs (comma separated)",
                        "type": "array",
                        "items": {
                            "type": "integer",
                            "format": "int32"
                        },
                        "required": false
                    },
                    {
                        "in": "query",
                        "name": "show_tasks",
                        "description": "Include tasks in report (default: false)",
                        "type": "boolean",
                        "required": false
                    },
                    {
                        "in": "query",
                        "name": "show_notes",
                        "description": "Include notes in report (default: false)",
                        "type": "boolean",
                        "required": false
                    },
                    {
                        "in": "query",
                        "name": "show_activity",
                        "description": "Include activity percentages in report (default: false)",
                        "type": "boolean",
                        "required": false
                    },
                    {
                        "in": "query",
                        "name": "include_archived",
                        "description": "Include archived projects in report (default: false)",
                        "type": "boolean",
                        "required": false
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Retrieve custom my report grouped by project",
                        "schema": {
                            "$ref": "#/definitions/organization_with_projects"
                        }
                    },
                    "401": {
                        "description": "Unauthorized"
                    },
                    "403": {
                        "description": "API access is only for organizations on an active plan"
                    }
                },
                "tags": [
                    "custom"
                ],
                "operationId": "getV1CustomByProjectMy"
            }
        },
        "/v1/custom/by_project/team": {
            "get": {
                "description": "Retrieve custom team report grouped by project",
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "in": "header",
                        "name": "Auth-Token",
                        "description": "User auth token",
                        "type": "string",
                        "required": true
                    },
                    {
                        "in": "header",
                        "name": "App-Token",
                        "description": "Application app token",
                        "type": "string",
                        "required": true
                    },
                    {
                        "in": "query",
                        "name": "start_date",
                        "description": "Start date (yyyy-mm-dd)",
                        "type": "string",
                        "format": "date",
                        "required": true
                    },
                    {
                        "in": "query",
                        "name": "end_date",
                        "description": "End date (yyyy-mm-dd)",
                        "type": "string",
                        "format": "date",
                        "required": true
                    },
                    {
                        "in": "formData",
                        "name": "organizations",
                        "description": "List of organization IDs (comma separated)",
                        "type": "array",
                        "items": {
                            "type": "integer",
                            "format": "int32"
                        },
                        "required": false
                    },
                    {
                        "in": "formData",
                        "name": "projects",
                        "description": "List of project IDs (comma separated)",
                        "type": "array",
                        "items": {
                            "type": "integer",
                            "format": "int32"
                        },
                        "required": false
                    },
                    {
                        "in": "formData",
                        "name": "users",
                        "description": "List of users IDs (comma separated)",
                        "type": "array",
                        "items": {
                            "type": "integer",
                            "format": "int32"
                        },
                        "required": false
                    },
                    {
                        "in": "query",
                        "name": "show_tasks",
                        "description": "Include tasks in report (default: false)",
                        "type": "boolean",
                        "required": false
                    },
                    {
                        "in": "query",
                        "name": "show_notes",
                        "description": "Include notes in report (default: false)",
                        "type": "boolean",
                        "required": false
                    },
                    {
                        "in": "query",
                        "name": "show_activity",
                        "description": "Include activity percentages in report (default: false)",
                        "type": "boolean",
                        "required": false
                    },
                    {
                        "in": "query",
                        "name": "include_archived",
                        "description": "Include archived projects in report (default: false)",
                        "type": "boolean",
                        "required": false
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Retrieve custom team report grouped by project",
                        "schema": {
                            "$ref": "#/definitions/organization_with_projects"
                        }
                    },
                    "401": {
                        "description": "Unauthorized"
                    },
                    "403": {
                        "description": "API access is only for organizations on an active plan"
                    }
                },
                "tags": [
                    "custom"
                ],
                "operationId": "getV1CustomByProjectTeam"
            }
        },
        "/v1/custom/by_member/my": {
            "get": {
                "description": "Retrieve custom my report grouped by user",
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "in": "header",
                        "name": "Auth-Token",
                        "description": "User auth token",
                        "type": "string",
                        "required": true
                    },
                    {
                        "in": "header",
                        "name": "App-Token",
                        "description": "Application app token",
                        "type": "string",
                        "required": true
                    },
                    {
                        "in": "query",
                        "name": "start_date",
                        "description": "Start date (yyyy-mm-dd)",
                        "type": "string",
                        "format": "date",
                        "required": true
                    },
                    {
                        "in": "query",
                        "name": "end_date",
                        "description": "End date (yyyy-mm-dd)",
                        "type": "string",
                        "format": "date",
                        "required": true
                    },
                    {
                        "in": "formData",
                        "name": "organizations",
                        "description": "List of organization IDs (comma separated)",
                        "type": "array",
                        "items": {
                            "type": "integer",
                            "format": "int32"
                        },
                        "required": false
                    },
                    {
                        "in": "formData",
                        "name": "projects",
                        "description": "List of project IDs (comma separated)",
                        "type": "array",
                        "items": {
                            "type": "integer",
                            "format": "int32"
                        },
                        "required": false
                    },
                    {
                        "in": "formData",
                        "name": "users",
                        "description": "List of users IDs (comma separated)",
                        "type": "array",
                        "items": {
                            "type": "integer",
                            "format": "int32"
                        },
                        "required": false
                    },
                    {
                        "in": "query",
                        "name": "show_tasks",
                        "description": "Include tasks in report (default: false)",
                        "type": "boolean",
                        "required": false
                    },
                    {
                        "in": "query",
                        "name": "show_notes",
                        "description": "Include notes in report (default: false)",
                        "type": "boolean",
                        "required": false
                    },
                    {
                        "in": "query",
                        "name": "show_activity",
                        "description": "Include activity percentages in report (default: false)",
                        "type": "boolean",
                        "required": false
                    },
                    {
                        "in": "query",
                        "name": "include_archived",
                        "description": "Include archived projects in report (default: false)",
                        "type": "boolean",
                        "required": false
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Retrieve custom my report grouped by user",
                        "schema": {
                            "$ref": "#/definitions/organization_with_users"
                        }
                    },
                    "401": {
                        "description": "Unauthorized"
                    },
                    "403": {
                        "description": "API access is only for organizations on an active plan"
                    }
                },
                "tags": [
                    "custom"
                ],
                "operationId": "getV1CustomByMemberMy"
            }
        },
        "/v1/custom/by_member/team": {
            "get": {
                "description": "Retrieve custom team report grouped by user",
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "in": "header",
                        "name": "Auth-Token",
                        "description": "User auth token",
                        "type": "string",
                        "required": true
                    },
                    {
                        "in": "header",
                        "name": "App-Token",
                        "description": "Application app token",
                        "type": "string",
                        "required": true
                    },
                    {
                        "in": "query",
                        "name": "start_date",
                        "description": "Start date (yyyy-mm-dd)",
                        "type": "string",
                        "format": "date",
                        "required": true
                    },
                    {
                        "in": "query",
                        "name": "end_date",
                        "description": "End date (yyyy-mm-dd)",
                        "type": "string",
                        "format": "date",
                        "required": true
                    },
                    {
                        "in": "formData",
                        "name": "organizations",
                        "description": "List of organization IDs (comma separated)",
                        "type": "array",
                        "items": {
                            "type": "integer",
                            "format": "int32"
                        },
                        "required": false
                    },
                    {
                        "in": "formData",
                        "name": "projects",
                        "description": "List of project IDs (comma separated)",
                        "type": "array",
                        "items": {
                            "type": "integer",
                            "format": "int32"
                        },
                        "required": false
                    },
                    {
                        "in": "formData",
                        "name": "users",
                        "description": "List of users IDs (comma separated)",
                        "type": "array",
                        "items": {
                            "type": "integer",
                            "format": "int32"
                        },
                        "required": false
                    },
                    {
                        "in": "query",
                        "name": "show_tasks",
                        "description": "Include tasks in report (default: false)",
                        "type": "boolean",
                        "required": false
                    },
                    {
                        "in": "query",
                        "name": "show_notes",
                        "description": "Include notes in report (default: false)",
                        "type": "boolean",
                        "required": false
                    },
                    {
                        "in": "query",
                        "name": "show_activity",
                        "description": "Include activity percentages in report (default: false)",
                        "type": "boolean",
                        "required": false
                    },
                    {
                        "in": "query",
                        "name": "include_archived",
                        "description": "Include archived projects in report (default: false)",
                        "type": "boolean",
                        "required": false
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Retrieve custom team report grouped by user",
                        "schema": {
                            "$ref": "#/definitions/organization_with_users"
                        }
                    },
                    "401": {
                        "description": "Unauthorized"
                    },
                    "403": {
                        "description": "API access is only for organizations on an active plan"
                    }
                },
                "tags": [
                    "custom"
                ],
                "operationId": "getV1CustomByMemberTeam"
            }
        },
        "/v1/custom/by_date/my": {
            "get": {
                "description": "Retrieve custom my report grouped by date",
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "in": "header",
                        "name": "Auth-Token",
                        "description": "User auth token",
                        "type": "string",
                        "required": true
                    },
                    {
                        "in": "header",
                        "name": "App-Token",
                        "description": "Application app token",
                        "type": "string",
                        "required": true
                    },
                    {
                        "in": "query",
                        "name": "start_date",
                        "description": "Start date (yyyy-mm-dd)",
                        "type": "string",
                        "format": "date",
                        "required": true
                    },
                    {
                        "in": "query",
                        "name": "end_date",
                        "description": "End date (yyyy-mm-dd)",
                        "type": "string",
                        "format": "date",
                        "required": true
                    },
                    {
                        "in": "formData",
                        "name": "organizations",
                        "description": "List of organization IDs (comma separated)",
                        "type": "array",
                        "items": {
                            "type": "integer",
                            "format": "int32"
                        },
                        "required": false
                    },
                    {
                        "in": "formData",
                        "name": "projects",
                        "description": "List of project IDs (comma separated)",
                        "type": "array",
                        "items": {
                            "type": "integer",
                            "format": "int32"
                        },
                        "required": false
                    },
                    {
                        "in": "formData",
                        "name": "users",
                        "description": "List of users IDs (comma separated)",
                        "type": "array",
                        "items": {
                            "type": "integer",
                            "format": "int32"
                        },
                        "required": false
                    },
                    {
                        "in": "query",
                        "name": "show_tasks",
                        "description": "Include tasks in report (default: false)",
                        "type": "boolean",
                        "required": false
                    },
                    {
                        "in": "query",
                        "name": "show_notes",
                        "description": "Include notes in report (default: false)",
                        "type": "boolean",
                        "required": false
                    },
                    {
                        "in": "query",
                        "name": "show_activity",
                        "description": "Include activity percentages in report (default: false)",
                        "type": "boolean",
                        "required": false
                    },
                    {
                        "in": "query",
                        "name": "include_archived",
                        "description": "Include archived projects in report (default: false)",
                        "type": "boolean",
                        "required": false
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Retrieve custom my report grouped by date",
                        "schema": {
                            "$ref": "#/definitions/organization_with_dates"
                        }
                    },
                    "401": {
                        "description": "Unauthorized"
                    },
                    "403": {
                        "description": "API access is only for organizations on an active plan"
                    }
                },
                "tags": [
                    "custom"
                ],
                "operationId": "getV1CustomByDateMy"
            }
        },
        "/v1/custom/by_date/team": {
            "get": {
                "description": "Retrieve custom team report grouped by date",
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "in": "header",
                        "name": "Auth-Token",
                        "description": "User auth token",
                        "type": "string",
                        "required": true
                    },
                    {
                        "in": "header",
                        "name": "App-Token",
                        "description": "Application app token",
                        "type": "string",
                        "required": true
                    },
                    {
                        "in": "query",
                        "name": "start_date",
                        "description": "Start date (yyyy-mm-dd)",
                        "type": "string",
                        "format": "date",
                        "required": true
                    },
                    {
                        "in": "query",
                        "name": "end_date",
                        "description": "End date (yyyy-mm-dd)",
                        "type": "string",
                        "format": "date",
                        "required": true
                    },
                    {
                        "in": "formData",
                        "name": "organizations",
                        "description": "List of organization IDs (comma separated)",
                        "type": "array",
                        "items": {
                            "type": "integer",
                            "format": "int32"
                        },
                        "required": false
                    },
                    {
                        "in": "formData",
                        "name": "projects",
                        "description": "List of project IDs (comma separated)",
                        "type": "array",
                        "items": {
                            "type": "integer",
                            "format": "int32"
                        },
                        "required": false
                    },
                    {
                        "in": "formData",
                        "name": "users",
                        "description": "List of users IDs (comma separated)",
                        "type": "array",
                        "items": {
                            "type": "integer",
                            "format": "int32"
                        },
                        "required": false
                    },
                    {
                        "in": "query",
                        "name": "show_tasks",
                        "description": "Include tasks in report (default: false)",
                        "type": "boolean",
                        "required": false
                    },
                    {
                        "in": "query",
                        "name": "show_notes",
                        "description": "Include notes in report (default: false)",
                        "type": "boolean",
                        "required": false
                    },
                    {
                        "in": "query",
                        "name": "show_activity",
                        "description": "Include activity percentages in report (default: false)",
                        "type": "boolean",
                        "required": false
                    },
                    {
                        "in": "query",
                        "name": "include_archived",
                        "description": "Include archived projects in report (default: false)",
                        "type": "boolean",
                        "required": false
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Retrieve custom team report grouped by date",
                        "schema": {
                            "$ref": "#/definitions/organization_with_dates"
                        }
                    },
                    "401": {
                        "description": "Unauthorized"
                    },
                    "403": {
                        "description": "API access is only for organizations on an active plan"
                    }
                },
                "tags": [
                    "custom"
                ],
                "operationId": "getV1CustomByDateTeam"
            }
        },
[...]
