{
    "swagger": "2.0",
    "produces": [
        "application/json"
    ],
    "host": "api.hubstaff.com",
    "tags": [
        {
            "name": "users",
            "description": "User endpoints"
        },
        {
            "name": "organizations",
            "description": "Organization endpoints"
        },
        {
            "name": "invites",
            "description": "Organization invites endpoints"
        },
        {
            "name": "projects",
            "description": "Project endpoints"
        },
        {
            "name": "integrations",
            "description": "Integration endpoints"
        },
        {
            "name": "tasks",
            "description": "Task endpoints"
        },
        {
            "name": "activities",
            "description": "Activity endpoints"
        },
        {
            "name": "application_activities",
            "description": "App Activity endpoints"
        },
        {
            "name": "notes",
            "description": "Note endpoints"
        },
        {
            "name": "screenshots",
            "description": "Screenshot endpoints"
        },
        {
            "name": "time_edit_logs",
            "description": "Time edit log endpoints"
        },
        {
            "name": "url_activities",
            "description": "URL activity endpoints"
        },
        {
            "name": "team_payments",
            "description": "Team payment endpoints"
        },
        {
            "name": "clients",
            "description": "Clients endpoints"
        },
        {
            "name": "locations",
            "description": "Locations endpoints"
        },
        {
            "name": "client_invoices",
            "description": "Client invoices endpoints"
        },
        {
            "name": "team_invoices",
            "description": "Team invoices endpoints"
        },
        {
            "name": "time_off_policies",
            "description": "Time off policies endpoints"
        },
        {
            "name": "time_off_requests",
            "description": "Time off requests endpoints"
        },
        {
            "name": "attendance_schedules",
            "description": "Attendance schedules endpoints"
        },
        {
            "name": "attendance_shifts",
            "description": "Attendance shifts endpoints"
        },
        {
            "name": "holidays",
            "description": "Holidays endpoints"
        },
        {
            "name": "job_sites",
            "description": "Job sites endpoints"
        },
        {
            "name": "timesheets",
            "description": "Timesheets endpoints"
        },
        {
            "name": "budgets",
            "description": "Budget endpoints"
        }
    ],
    "paths": {
        "/v2/users/{user_id}": {
            "get": {
                "summary": "Retrieve a user",
                "description": "Returns the user with a given ID.\n",
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "in": "path",
                        "name": "user_id",
                        "description": "User ID",
                        "type": "integer",
                        "format": "int32",
                        "required": true
                    }
                ],
                "responses": {
                    "200": {
                        "description": "A user",
                        "schema": {
                            "type": "object",
                            "properties": {
                                "user": {
                                    "$ref": "#/definitions/User"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Invalid parameters",
                        "schema": {
                            "$ref": "#/definitions/Hubstaff_Public_V2_Entities_Error"
                        }
                    },
                    "401": {
                        "description": "Unauthorized",
                        "schema": {
                            "$ref": "#/definitions/Hubstaff_Public_V2_Entities_Error"
                        }
                    },
                    "403": {
                        "description": "API access is only for organizations on an active plan",
                        "schema": {
                            "$ref": "#/definitions/Hubstaff_Public_V2_Entities_Error"
                        }
                    },
                    "404": {
                        "description": "Could not find record",
                        "schema": {
                            "$ref": "#/definitions/Hubstaff_Public_V2_Entities_Error"
                        }
                    },
                    "429": {
                        "description": "Rate limit exceeded",
                        "schema": {
                            "$ref": "#/definitions/Hubstaff_Public_V2_Entities_Error"
                        }
                    }
                },
                "tags": [
                    "users"
                ],
                "operationId": "getV2UsersUserId"
            }
        },
        "/v2/users/me": {
            "get": {
                "summary": "Retrieve the authenticated user",
                "description": "Returns the authenticated user.\n",
                "produces": [
                    "application/json"
                ],
                "responses": {
                    "200": {
                        "description": "A user",
                        "schema": {
                            "type": "object",
                            "properties": {
                                "user": {
                                    "$ref": "#/definitions/User"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Invalid parameters",
                        "schema": {
                            "$ref": "#/definitions/Hubstaff_Public_V2_Entities_Error"
                        }
                    },
                    "401": {
                        "description": "Unauthorized",
                        "schema": {
                            "$ref": "#/definitions/Hubstaff_Public_V2_Entities_Error"
                        }
                    },
                    "403": {
                        "description": "API access is only for organizations on an active plan",
                        "schema": {
                            "$ref": "#/definitions/Hubstaff_Public_V2_Entities_Error"
                        }
                    },
                    "429": {
                        "description": "Rate limit exceeded",
                        "schema": {
                            "$ref": "#/definitions/Hubstaff_Public_V2_Entities_Error"
                        }
                    }
                },
                "tags": [
                    "users"
                ],
                "operationId": "getV2UsersMe"
            }
        },
        "/v2/organizations": {
            "get": {
                "summary": "Retrieve organizations",
                "description": "Returns a collection of organizations the authenticated user is an active member of.\n",
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "in": "query",
                        "name": "page_start_id",
                        "description": "The page start ID.",
                        "type": "integer",
                        "format": "int32",
                        "default": 0,
                        "required": false
                    },
                    {
                        "in": "query",
                        "name": "page_limit",
                        "description": "The default page size",
                        "type": "integer",
                        "format": "int32",
                        "required": false
                    }
                ],
                "responses": {
                    "200": {
                        "description": "A list of organizations",
                        "schema": {
                            "type": "object",
                            "properties": {
                                "organizations": {
                                    "type": "array",
                                    "items": {
                                        "$ref": "#/definitions/Organization"
                                    }
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Invalid parameters",
                        "schema": {
                            "$ref": "#/definitions/Hubstaff_Public_V2_Entities_Error"
                        }
                    },
                    "401": {
                        "description": "Unauthorized",
                        "schema": {
                            "$ref": "#/definitions/Hubstaff_Public_V2_Entities_Error"
                        }
                    },
                    "403": {
                        "description": "API access is only for organizations on an active plan",
                        "schema": {
                            "$ref": "#/definitions/Hubstaff_Public_V2_Entities_Error"
                        }
                    },
                    "429": {
                        "description": "Rate limit exceeded",
                        "schema": {
                            "$ref": "#/definitions/Hubstaff_Public_V2_Entities_Error"
                        }
                    }
                },
                "tags": [
                    "organizations"
                ],
                "operationId": "getV2Organizations"
            },
            "post": {
                "summary": "Creates a new organization",
                "description": "Create a new organization\n",
                "produces": [
                    "application/json"
                ],
                "consumes": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "in": "formData",
                        "name": "name",
                        "description": "The organization name",
                        "type": "string",
                        "required": true
                    },
                    {
                        "in": "formData",
                        "name": "addons",
                        "type": "array",
                        "items": {
                            "type": "string",
                            "enum": [
                                "timesheet_approvals",
                                "monitor_user_activity",
                                "team_payments",
                                "invoices",
                                "projects",
                                "work_orders",
                                "location_tracking",
                                "job_sites",
                                "attendance_schedules",
                                "time_off",
                                "achievements",
                                "teams",
                                "track_profitability",
                                "expenses",
                                "work_breaks"
                            ]
                        },
                        "required": false
                    },
                    {
                        "in": "formData",
                        "name": "industry",
                        "type": "string",
                        "default": "Other",
                        "required": false
                    }
                ],
                "responses": {
                    "200": {
                        "description": "An organization",
                        "schema": {
                            "type": "object",
                            "properties": {
                                "organization": {
                                    "$ref": "#/definitions/Organization"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Invalid parameters",
                        "schema": {
                            "$ref": "#/definitions/Hubstaff_Public_V2_Entities_Error"
                        }
                    },
                    "401": {
                        "description": "Unauthorized",
                        "schema": {
                            "$ref": "#/definitions/Hubstaff_Public_V2_Entities_Error"
                        }
                    },
                    "403": {
                        "description": "API access is only for organizations on an active plan",
                        "schema": {
                            "$ref": "#/definitions/Hubstaff_Public_V2_Entities_Error"
                        }
                    },
                    "429": {
                        "description": "Rate limit exceeded",
                        "schema": {
                            "$ref": "#/definitions/Hubstaff_Public_V2_Entities_Error"
                        }
                    }
                },
                "tags": [
                    "organizations"
                ],
                "operationId": "postV2Organizations"
            }
        },
        "/v2/organizations/{organization_id}/update_metadata": {
            "put": {
                "summary": "Updates metadata attached to the organization",
                "description": "Updates metadata on the project. Only specify the metadata keys you want to change.\n\nIf the metadata key does not exists it will be create.\n\nTo remove a metadata key pass null as the value.\n\nKeys must:\n- be between 2 and 30 characters\n- only contain lowercase a-z and underscore\n\nValues must:\n- Contain valid UTF8 characeters\n- be no longer than 200 characters\n\nReturns the updated project.\n",
                "produces": [
                    "application/json"
                ],
                "consumes": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "in": "path",
                        "name": "organization_id",
                        "description": "Organization ID",
                        "type": "integer",
                        "format": "int32",
                        "required": true
                    },
                    {
                        "name": "data",
                        "in": "body",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/putV2OrganizationsOrganizationIdUpdateMetadata"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "An organization",
                        "schema": {
                            "type": "object",
                            "properties": {
                                "organization": {
                                    "$ref": "#/definitions/Organization"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Invalid parameters",
                        "schema": {
                            "$ref": "#/definitions/Hubstaff_Public_V2_Entities_Error"
                        }
                    },
                    "401": {
                        "description": "Unauthorized",
                        "schema": {
                            "$ref": "#/definitions/Hubstaff_Public_V2_Entities_Error"
                        }
                    },
                    "403": {
                        "description": "API access is only for organizations on an active plan",
                        "schema": {
                            "$ref": "#/definitions/Hubstaff_Public_V2_Entities_Error"
                        }
                    },
                    "404": {
                        "description": "Could not find record",
                        "schema": {
                            "$ref": "#/definitions/Hubstaff_Public_V2_Entities_Error"
                        }
                    },
                    "429": {
                        "description": "Rate limit exceeded",
                        "schema": {
                            "$ref": "#/definitions/Hubstaff_Public_V2_Entities_Error"
                        }
                    }
                },
                "tags": [
                    "organizations"
                ],
                "operationId": "putV2OrganizationsOrganizationIdUpdateMetadata"
            }
        },
        "/v2/organizations/{organization_id}/update_members": {
            "put": {
                "summary": "Updates members roles for a organization",
                "description": "Updates membership within the organization. Only pass in the members you are wanting to change.\n\nAvailable roles are user, manager, owner, or remove\n\nThe _user_ role simply means that they are a member of the organization and their real role is\ndetermined by their project membership.\nIf they belong to 0 projects they are considered a **project viewer** and do not count toward your plan.\n\nUse the role remove to remove a user from the organization.\nRemoving from the organization will also remove them from all projects and teams in the organization\n\nReturns { success: true } upon successful updating members.\n",
                "produces": [
                    "application/json"
                ],
                "consumes": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "in": "path",
                        "name": "organization_id",
                        "description": "Organization ID",
                        "type": "integer",
                        "format": "int32",
                        "required": true
                    },
                    {
                        "name": "data",
                        "in": "body",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/putV2OrganizationsOrganizationIdUpdateMembers"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Updated successfully"
                    },
                    "400": {
                        "description": "Invalid parameters",
                        "schema": {
                            "$ref": "#/definitions/Hubstaff_Public_V2_Entities_Error"
                        }
                    },
                    "401": {
                        "description": "Unauthorized",
                        "schema": {
                            "$ref": "#/definitions/Hubstaff_Public_V2_Entities_Error"
                        }
                    },
                    "403": {
                        "description": "API access is only for organizations on an active plan",
                        "schema": {
                            "$ref": "#/definitions/Hubstaff_Public_V2_Entities_Error"
                        }
                    },
                    "404": {
                        "description": "Could not find record",
                        "schema": {
                            "$ref": "#/definitions/Hubstaff_Public_V2_Entities_Error"
                        }
                    },
                    "429": {
                        "description": "Rate limit exceeded",
                        "schema": {
                            "$ref": "#/definitions/Hubstaff_Public_V2_Entities_Error"
                        }
                    }
                },
                "tags": [
                    "organizations"
                ],
                "operationId": "putV2OrganizationsOrganizationIdUpdateMembers"
            }
        },
        "/v2/organizations/{organization_id}": {
            "get": {
                "summary": "Retrieve an organization",
                "description": "Returns the organization with a given ID.\n",
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "in": "path",
                        "name": "organization_id",
                        "description": "Organization ID",
                        "type": "integer",
                        "format": "int32",
                        "required": true
                    }
                ],
                "responses": {
                    "200": {
                        "description": "An organization",
                        "schema": {
                            "type": "object",
                            "properties": {
                                "organization": {
                                    "$ref": "#/definitions/Organization"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Invalid parameters",
                        "schema": {
                            "$ref": "#/definitions/Hubstaff_Public_V2_Entities_Error"
                        }
                    },
                    "401": {
                        "description": "Unauthorized",
                        "schema": {
                            "$ref": "#/definitions/Hubstaff_Public_V2_Entities_Error"
                        }
                    },
                    "403": {
                        "description": "API access is only for organizations on an active plan",
                        "schema": {
                            "$ref": "#/definitions/Hubstaff_Public_V2_Entities_Error"
                        }
                    },
                    "404": {
                        "description": "Could not find record",
                        "schema": {
                            "$ref": "#/definitions/Hubstaff_Public_V2_Entities_Error"
                        }
                    },
                    "429": {
                        "description": "Rate limit exceeded",
                        "schema": {
                            "$ref": "#/definitions/Hubstaff_Public_V2_Entities_Error"
                        }
                    }
                },
                "tags": [
                    "organizations"
                ],
                "operationId": "getV2OrganizationsOrganizationId"
            }
        },
        "/v2/organizations/{organization_id}/projects": {
            "post": {
                "summary": "Creates a project",
                "description": "Creates a new project.\n\nOnly name is required.\n\nMembers is optional and the available roles are viewer, user, and manager.\n\nReturns the project created.\n",
                "produces": [
                    "application/json"
                ],
                "consumes": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "in": "path",
                        "name": "organization_id",
                        "type": "integer",
                        "format": "int32",
                        "required": true
                    },
                    {
                        "name": "data",
                        "in": "body",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/postV2OrganizationsOrganizationIdProjects"
                        }
                    }
                ],
                "responses": {
                    "201": {
                        "description": "A project",
                        "schema": {
                            "type": "object",
                            "properties": {
                                "project": {
                                    "$ref": "#/definitions/Project"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Invalid parameters",
                        "schema": {
                            "$ref": "#/definitions/Hubstaff_Public_V2_Entities_Error"
                        }
                    },
                    "401": {
                        "description": "Unauthorized",
                        "schema": {
                            "$ref": "#/definitions/Hubstaff_Public_V2_Entities_Error"
                        }
                    },
                    "403": {
                        "description": "API access is only for organizations on an active plan",
                        "schema": {
                            "$ref": "#/definitions/Hubstaff_Public_V2_Entities_Error"
                        }
                    },
                    "404": {
                        "description": "Could not find record",
                        "schema": {
                            "$ref": "#/definitions/Hubstaff_Public_V2_Entities_Error"
                        }
                    },
                    "429": {
                        "description": "Rate limit exceeded",
                        "schema": {
                            "$ref": "#/definitions/Hubstaff_Public_V2_Entities_Error"
                        }
                    }
                },
                "tags": [
                    "projects"
                ],
                "operationId": "postV2OrganizationsOrganizationIdProjects"
            },
            "get": {
                "summary": "Retrieve projects",
                "description": "Returns a collection of projects.\n",
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "in": "query",
                        "name": "page_start_id",
                        "description": "The page start ID.",
                        "type": "integer",
                        "format": "int32",
                        "default": 0,
                        "required": false
                    },
                    {
                        "in": "query",
                        "name": "page_limit",
                        "description": "The default page size",
                        "type": "integer",
                        "format": "int32",
                        "required": false
                    },
                    {
                        "in": "query",
                        "name": "status",
                        "description": "Project status",
                        "type": "string",
                        "default": "active",
                        "enum": [
                            "active",
                            "archived",
                            "all"
                        ],
                        "required": false
                    },
                    {
                        "in": "path",
                        "name": "organization_id",
                        "type": "integer",
                        "format": "int32",
                        "required": true
                    }
                ],
                "responses": {
                    "200": {
                        "description": "A list of projects",
                        "schema": {
                            "type": "object",
                            "properties": {
                                "projects": {
                                    "type": "array",
                                    "items": {
                                        "$ref": "#/definitions/Project"
                                    }
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Invalid parameters",
                        "schema": {
                            "$ref": "#/definitions/Hubstaff_Public_V2_Entities_Error"
                        }
                    },
                    "401": {
                        "description": "Unauthorized",
                        "schema": {
                            "$ref": "#/definitions/Hubstaff_Public_V2_Entities_Error"
                        }
                    },
                    "403": {
                        "description": "API access is only for organizations on an active plan",
                        "schema": {
                            "$ref": "#/definitions/Hubstaff_Public_V2_Entities_Error"
                        }
                    },
                    "404": {
                        "description": "Could not find record",
                        "schema": {
                            "$ref": "#/definitions/Hubstaff_Public_V2_Entities_Error"
                        }
                    },
                    "429": {
                        "description": "Rate limit exceeded",
                        "schema": {
                            "$ref": "#/definitions/Hubstaff_Public_V2_Entities_Error"
                        }
                    }
                },
                "tags": [
                    "projects"
                ],
                "operationId": "getV2OrganizationsOrganizationIdProjects"
            }
        },
        "/v2/organizations/{organization_id}/members": {
            "get": {
                "summary": "Retrieve members for an organization",
                "description": "Returns a collection of users that are a member of the given organization.\n\n*trackable* - Whether the user can track time.  This is one of 3 values\n- *false* -- meaning tracking has been explicitly disabled for this user regardless of their role\n- *true* -- meaning they are allowed to track time\n- *viewer* -- meaning they are allowed to track time, however as they are only a project viewer (or no\n  memberships) they implicitly can not track on any project\n\n*membership_role* - The basic role in this organization\n- *owner* - An owner of the organization.  This member can do anything within the organization.\n- *manager* - An manager of the organization.  This member can do anything within the organization\n  except things to do with money. (payroll, invoicing, account billing)\n- *user* - (By project). A member of the organization where permissions are defined by their project memberships\n\n*effective_role* - represents an effective role that combines a member's organization role and their project roles\n- *organization_owner* - The member is an organization owner\n- *organization_manager* - The member is an organization manager\n- *project_manager* - The member is an organization user and a manager on all projects and teams\n- *project_user* - The member is an organization user and a user on all projects and teams\n- *project_viewer* - The member is an organization user and a viewer on all projects and teams. Or have no project/team memberships.\n- *by_project* - The member is an organization user and has mixed roles on their projects and team memberships.\n\n\n",
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "in": "query",
                        "name": "page_start_id",
                        "description": "The page start ID.",
                        "type": "integer",
                        "format": "int32",
                        "default": 0,
                        "required": false
                    },
                    {
                        "in": "query",
                        "name": "page_limit",
                        "description": "The default page size",
                        "type": "integer",
                        "format": "int32",
                        "required": false
                    },
                    {
                        "in": "query",
                        "name": "include_removed",
                        "description": "Include members that were removed from the organization",
                        "type": "boolean",
                        "required": false
                    },
                    {
                        "in": "query",
                        "name": "include_projects",
                        "description": "Include project memberships for this member",
                        "type": "boolean",
                        "required": false
                    },
                    {
                        "in": "path",
                        "name": "organization_id",
                        "type": "integer",
                        "format": "int32",
                        "required": true
                    }
                ],
                "responses": {
                    "200": {
                        "description": "A list of members",
                        "schema": {
                            "type": "object",
                            "properties": {
                                "members": {
                                    "type": "array",
                                    "items": {
                                        "$ref": "#/definitions/OrganizationMember"
                                    }
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Invalid parameters",
                        "schema": {
                            "$ref": "#/definitions/Hubstaff_Public_V2_Entities_Error"
                        }
                    },
                    "401": {
                        "description": "Unauthorized",
                        "schema": {
                            "$ref": "#/definitions/Hubstaff_Public_V2_Entities_Error"
                        }
                    },
                    "403": {
                        "description": "API access is only for organizations on an active plan",
                        "schema": {
                            "$ref": "#/definitions/Hubstaff_Public_V2_Entities_Error"
                        }
                    },
                    "404": {
                        "description": "Could not find record",
                        "schema": {
                            "$ref": "#/definitions/Hubstaff_Public_V2_Entities_Error"
                        }
                    },
                    "429": {
                        "description": "Rate limit exceeded",
                        "schema": {
                            "$ref": "#/definitions/Hubstaff_Public_V2_Entities_Error"
                        }
                    }
                },
                "tags": [
                    "organizations"
                ],
                "operationId": "getV2OrganizationsOrganizationIdMembers"
            }
        },
        "/v2/organizations/{organization_id}/last_activities": {
            "get": {
                "summary": "Retrieve members last activity for an organization",
                "description": "Retrieves the organization's last user activities.\n",
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "in": "query",
                        "name": "page_start_id",
                        "description": "The page start ID.",
                        "type": "integer",
                        "format": "int32",
                        "default": 0,
                        "required": false
                    },
                    {
                        "in": "query",
                        "name": "page_limit",
                        "description": "The default page size",
                        "type": "integer",
                        "format": "int32",
                        "required": false
                    },
                    {
                        "in": "query",
                        "name": "include_removed",
                        "description": "Include users that were removed",
                        "type": "boolean",
                        "required": false
                    },
                    {
                        "in": "path",
                        "name": "organization_id",
                        "type": "integer",
                        "format": "int32",
                        "required": true
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Last activities for members",
                        "schema": {
                            "type": "object",
                            "properties": {
                                "last_activities": {
                                    "type": "array",
                                    "items": {
                                        "$ref": "#/definitions/LastActivity"
                                    }
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Invalid parameters",
                        "schema": {
                            "$ref": "#/definitions/Hubstaff_Public_V2_Entities_Error"
                        }
                    },
                    "401": {
                        "description": "Unauthorized",
                        "schema": {
                            "$ref": "#/definitions/Hubstaff_Public_V2_Entities_Error"
                        }
                    },
                    "403": {
                        "description": "API access is only for organizations on an active plan",
                        "schema": {
                            "$ref": "#/definitions/Hubstaff_Public_V2_Entities_Error"
                        }
                    },
                    "404": {
                        "description": "Could not find record",
                        "schema": {
                            "$ref": "#/definitions/Hubstaff_Public_V2_Entities_Error"
                        }
                    },
                    "429": {
                        "description": "Rate limit exceeded",
                        "schema": {
                            "$ref": "#/definitions/Hubstaff_Public_V2_Entities_Error"
                        }
                    }
                },
                "tags": [
                    "organizations"
                ],
                "operationId": "getV2OrganizationsOrganizationIdLastActivities"
            }
        },
        "/v2/organizations/{organization_id}/integrations": {
            "get": {
                "summary": "Retrieve integrations",
                "description": "Returns a collection of integrations.\n",
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "in": "query",
                        "name": "page_start_id",
                        "description": "The page start ID.",
                        "type": "integer",
                        "format": "int32",
                        "default": 0,
                        "required": false
                    },
                    {
                        "in": "query",
                        "name": "page_limit",
                        "description": "The default page size",
                        "type": "integer",
                        "format": "int32",
                        "required": false
                    },
                    {
                        "in": "path",
                        "name": "organization_id",
                        "type": "integer",
                        "format": "int32",
                        "required": true
                    }
                ],
                "responses": {
                    "200": {
                        "description": "A list of integrations",
                        "schema": {
                            "type": "object",
                            "properties": {
                                "integrations": {
                                    "type": "array",
                                    "items": {
                                        "$ref": "#/definitions/Integration"
                                    }
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Invalid parameters",
                        "schema": {
                            "$ref": "#/definitions/Hubstaff_Public_V2_Entities_Error"
                        }
                    },
                    "401": {
                        "description": "Unauthorized",
                        "schema": {
                            "$ref": "#/definitions/Hubstaff_Public_V2_Entities_Error"
                        }
                    },
                    "403": {
                        "description": "API access is only for organizations on an active plan",
                        "schema": {
                            "$ref": "#/definitions/Hubstaff_Public_V2_Entities_Error"
                        }
                    },
                    "404": {
                        "description": "Could not find record",
                        "schema": {
                            "$ref": "#/definitions/Hubstaff_Public_V2_Entities_Error"
                        }
                    },
                    "429": {
                        "description": "Rate limit exceeded",
                        "schema": {
                            "$ref": "#/definitions/Hubstaff_Public_V2_Entities_Error"
                        }
                    }
                },
                "tags": [
                    "integrations"
                ],
                "operationId": "getV2OrganizationsOrganizationIdIntegrations"
            }
        },
        "/v2/organizations/{organization_id}/invites": {
            "post": {
                "summary": "Invite a user to the organization",
                "description": "Returns details for the created invite.\n\nNote: If there is an account for the email in Hubstaff, the invite will be auto accepted.    \n\nThere is a rate limit on how many invites you may create.\n\nThe role is a combination role of one of the following.\n- organization_manager - The user will be invited as an organization manager\n- project_manager - The user will be invited as a project manager\n- project_user - The user will be invited as a project user\n- project_viewer - The user will be invited as a project viewer\n\nIf you do not set any project_ids then any of the project_* roles will end up being project_viewer\n(as they will have no projects).\n",
                "produces": [
                    "application/json"
                ],
                "consumes": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "in": "formData",
                        "name": "email",
                        "description": "The email to invite",
                        "type": "string",
                        "required": true
                    },
                    {
                        "in": "formData",
                        "name": "role",
                        "description": "The role to invite the user as",
                        "type": "string",
                        "default": "project_user",
                        "enum": [
                            "organization_manager",
                            "project_manager",
                            "project_user",
                            "project_viewer"
                        ],
                        "required": false
                    },
                    {
                        "in": "formData",
                        "name": "pay_rate",
                        "description": "A pay rate to set for the user",
                        "type": "number",
                        "format": "float",
                        "required": false
                    },
                    {
                        "in": "formData",
                        "name": "project_ids",
                        "description": "List of project IDs to add the user to after they accept the invite",
                        "type": "array",
                        "items": {
                            "type": "integer",
                            "format": "int32"
                        },
                        "required": false
                    },
                    {
                        "in": "path",
                        "name": "organization_id",
                        "type": "integer",
                        "format": "int32",
                        "required": true
                    }
                ],
                "responses": {
                    "201": {
                        "description": "An invite",
                        "schema": {
                            "type": "object",
                            "properties": {
                                "invite": {
                                    "$ref": "#/definitions/Invite"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Invalid parameters",
                        "schema": {
                            "$ref": "#/definitions/Hubstaff_Public_V2_Entities_Error"
                        }
                    },
                    "401": {
                        "description": "Unauthorized",
                        "schema": {
                            "$ref": "#/definitions/Hubstaff_Public_V2_Entities_Error"
                        }
                    },
                    "403": {
                        "description": "API access is only for organizations on an active plan",
                        "schema": {
                            "$ref": "#/definitions/Hubstaff_Public_V2_Entities_Error"
                        }
                    },
                    "404": {
                        "description": "Could not find record",
                        "schema": {
                            "$ref": "#/definitions/Hubstaff_Public_V2_Entities_Error"
                        }
                    },
                    "429": {
                        "description": "Rate limit exceeded",
                        "schema": {
                            "$ref": "#/definitions/Hubstaff_Public_V2_Entities_Error"
                        }
                    }
                },
                "tags": [
                    "invites"
                ],
                "operationId": "postV2OrganizationsOrganizationIdInvites"
            },
            "get": {
                "summary": "Retreive invites",
                "description": "Returns a collection of pending invites.\n",
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "in": "query",
                        "name": "page_start_id",
                        "description": "The page start ID.",
                        "type": "integer",
                        "format": "int32",
                        "default": 0,
                        "required": false
                    },
                    {
                        "in": "query",
                        "name": "page_limit",
                        "description": "The default page size",
                        "type": "integer",
                        "format": "int32",
                        "required": false
                    },
                    {
                        "in": "query",
                        "name": "email",
                        "description": "An email to search for a pending invitation by",
                        "type": "string",
                        "required": false
                    },
                    {
                        "in": "query",
                        "name": "status",
                        "description": "Filter invites by status",
                        "type": "string",
                        "default": "pending",
                        "enum": [
                            "all",
                            "pending",
                            "accepted",
                            "expired"
                        ],
                        "required": false
                    },
                    {
                        "in": "path",
                        "name": "organization_id",
                        "type": "integer",
                        "format": "int32",
                        "required": true
                    }
                ],
                "responses": {
                    "200": {
                        "description": "A list of invites",
                        "schema": {
                            "type": "object",
                            "properties": {
                                "invites": {
                                    "type": "array",
                                    "items": {
                                        "$ref": "#/definitions/Invite"
                                    }
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Invalid parameters",
                        "schema": {
                            "$ref": "#/definitions/Hubstaff_Public_V2_Entities_Error"
                        }
                    },
                    "401": {
                        "description": "Unauthorized",
                        "schema": {
                            "$ref": "#/definitions/Hubstaff_Public_V2_Entities_Error"
                        }
                    },
                    "403": {
                        "description": "API access is only for organizations on an active plan",
                        "schema": {
                            "$ref": "#/definitions/Hubstaff_Public_V2_Entities_Error"
                        }
                    },
                    "404": {
                        "description": "Could not find record",
                        "schema": {
                            "$ref": "#/definitions/Hubstaff_Public_V2_Entities_Error"
                        }
                    },
                    "429": {
                        "description": "Rate limit exceeded",
                        "schema": {
                            "$ref": "#/definitions/Hubstaff_Public_V2_Entities_Error"
                        }
                    }
                },
                "tags": [
                    "invites"
                ],
                "operationId": "getV2OrganizationsOrganizationIdInvites"
            }
        },
        "/v2/organizations/{organization_id}/application_activities": {
            "get": {
                "summary": "Retrieve application activities",
                "description": "Returns a collection of application activities.\nThe application activities can optionally be filtered to those of a given organization.\n\nThe preferred endpoints to fetch data about activities are the daily endpoints.\n\nDate range Limit: 7 days\nEarliest Date: 1 full month\n",
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "in": "query",
                        "name": "page_start_id",
                        "description": "The page start ID.",
                        "type": "integer",
                        "format": "int32",
                        "default": 0,
                        "required": false
                    },
                    {
                        "in": "query",
                        "name": "page_limit",
                        "description": "The default page size",
                        "type": "integer",
                        "format": "int32",
                        "required": false
                    },
                    {
                        "in": "query",
                        "name": "time_slot[start]",
                        "description": "Start time (ISO 8601)",
                        "type": "string",
                        "format": "date-time",
                        "required": true
                    },
                    {
                        "in": "query",
                        "name": "time_slot[stop]",
                        "description": "Stop time (ISO 8601, Exclusive)",
                        "type": "string",
                        "format": "date-time",
                        "required": true
                    },
                    {
                        "in": "query",
                        "name": "user_ids",
                        "description": "List of user IDs",
                        "type": "array",
                        "items": {
                            "type": "integer",
                            "format": "int32"
                        },
                        "required": false
                    },
                    {
                        "in": "query",
                        "name": "task_ids",
                        "description": "List of task IDs",
                        "type": "array",
                        "items": {
                            "type": "integer",
                            "format": "int32"
                        },
                        "required": false
                    },
                    {
                        "in": "query",
                        "name": "project_ids",
                        "description": "List of project IDs",
                        "type": "array",
                        "items": {
                            "type": "integer",
                            "format": "int32"
                        },
                        "required": false
                    },
                    {
                        "in": "path",
                        "name": "organization_id",
                        "type": "integer",
                        "format": "int32",
                        "required": true
                    }
                ],
                "responses": {
                    "200": {
                        "description": "A list of application activities",
                        "schema": {
                            "type": "object",
                            "properties": {
                                "applications": {
                                    "type": "array",
                                    "items": {
                                        "$ref": "#/definitions/ApplicationActivity"
                                    }
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Invalid parameters",
                        "schema": {
                            "$ref": "#/definitions/Hubstaff_Public_V2_Entities_Error"
                        }
                    },
                    "401": {
                        "description": "Unauthorized",
                        "schema": {
                            "$ref": "#/definitions/Hubstaff_Public_V2_Entities_Error"
                        }
                    },
                    "403": {
                        "description": "API access is only for organizations on an active plan",
                        "schema": {
                            "$ref": "#/definitions/Hubstaff_Public_V2_Entities_Error"
                        }
                    },
                    "404": {
                        "description": "Could not find record",
                        "schema": {
                            "$ref": "#/definitions/Hubstaff_Public_V2_Entities_Error"
                        }
                    },
                    "429": {
                        "description": "Rate limit exceeded",
                        "schema": {
                            "$ref": "#/definitions/Hubstaff_Public_V2_Entities_Error"
                        }
                    }
                },
                "tags": [
                    "application_activities"
                ],
                "operationId": "getV2OrganizationsOrganizationIdApplicationActivities"
            }
        },
        "/v2/organizations/{organization_id}/application_activities/daily": {
            "get": {
                "summary": "Retrieve daily application activities",
                "description": "Returns a collection of daily application activities.\nDaily application activities are aggregated application activities by the organization date.\nThe daily application activities can optionally be filtered to those of a given organization.\nDate range Limit: 2 weeks\nEarliest Date: 1 full month\n",
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "in": "query",
                        "name": "page_start_id",
                        "description": "The page start ID.",
                        "type": "integer",
                        "format": "int32",
                        "default": 0,
                        "required": false
                    },
                    {
                        "in": "query",
                        "name": "page_limit",
                        "description": "The default page size",
                        "type": "integer",
                        "format": "int32",
                        "required": false
                    },
                    {
                        "in": "query",
                        "name": "date[start]",
                        "description": "Start date (ISO 8601)",
                        "type": "string",
                        "format": "date",
                        "required": true
                    },
                    {
                        "in": "query",
                        "name": "date[stop]",
                        "description": "Stop date (ISO 8601, Inclusive)",
                        "type": "string",
                        "format": "date",
                        "required": true
                    },
                    {
                        "in": "query",
                        "name": "user_ids",
                        "description": "List of user IDs",
                        "type": "array",
                        "items": {
                            "type": "integer",
                            "format": "int32"
                        },
                        "required": false
                    },
                    {
                        "in": "query",
                        "name": "task_ids",
                        "description": "List of task IDs",
                        "type": "array",
                        "items": {
                            "type": "integer",
                            "format": "int32"
                        },
                        "required": false
                    },
                    {
                        "in": "query",
                        "name": "project_ids",
                        "description": "List of project IDs",
                        "type": "array",
                        "items": {
                            "type": "integer",
                            "format": "int32"
                        },
                        "required": false
                    },
                    {
                        "in": "path",
                        "name": "organization_id",
                        "type": "integer",
                        "format": "int32",
                        "required": true
                    }
                ],
                "responses": {
                    "200": {
                        "description": "A list of daily application activities",
                        "schema": {
                            "type": "object",
                            "properties": {
                                "daily_applications": {
                                    "type": "array",
                                    "items": {
                                        "$ref": "#/definitions/DailyApplicationActivity"
                                    }
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Invalid parameters",
                        "schema": {
                            "$ref": "#/definitions/Hubstaff_Public_V2_Entities_Error"
                        }
                    },
                    "401": {
                        "description": "Unauthorized",
                        "schema": {
                            "$ref": "#/definitions/Hubstaff_Public_V2_Entities_Error"
                        }
                    },
                    "403": {
                        "description": "API access is only for organizations on an active plan",
                        "schema": {
                            "$ref": "#/definitions/Hubstaff_Public_V2_Entities_Error"
                        }
                    },
                    "404": {
                        "description": "Could not find record",
                        "schema": {
                            "$ref": "#/definitions/Hubstaff_Public_V2_Entities_Error"
                        }
                    },
                    "429": {
                        "description": "Rate limit exceeded",
                        "schema": {
                            "$ref": "#/definitions/Hubstaff_Public_V2_Entities_Error"
                        }
                    }
                },
                "tags": [
                    "application_activities"
                ],
                "operationId": "getV2OrganizationsOrganizationIdApplicationActivitiesDaily"
            }
        },
        "/v2/organizations/{organization_id}/url_activities": {
            "get": {
                "summary": "Retrieve url activities",
                "description": "Returns a collection of url activities.\nThe url activities can optionally be filtered to those of a given organization.\n\nThe preferred endpoints to fetch data about activities are the daily endpoints.\n\nDate range Limit: 7 days\nEarliest Date: 1 full month\n",
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "in": "query",
                        "name": "page_start_id",
                        "description": "The page start ID.",
                        "type": "integer",
                        "format": "int32",
                        "default": 0,
                        "required": false
                    },
                    {
                        "in": "query",
                        "name": "page_limit",
                        "description": "The default page size",
                        "type": "integer",
                        "format": "int32",
                        "required": false
                    },
                    {
                        "in": "query",
                        "name": "time_slot[start]",
                        "description": "Start time (ISO 8601)",
                        "type": "string",
                        "format": "date-time",
                        "required": true
                    },
                    {
                        "in": "query",
                        "name": "time_slot[stop]",
                        "description": "Stop time (ISO 8601, Exclusive)",
                        "type": "string",
                        "format": "date-time",
                        "required": true
                    },
                    {
                        "in": "query",
                        "name": "user_ids",
                        "description": "List of user IDs",
                        "type": "array",
                        "items": {
                            "type": "integer",
                            "format": "int32"
                        },
                        "required": false
                    },
                    {
                        "in": "query",
                        "name": "task_ids",
                        "description": "List of task IDs",
                        "type": "array",
                        "items": {
                            "type": "integer",
                            "format": "int32"
                        },
                        "required": false
                    },
                    {
                        "in": "query",
                        "name": "project_ids",
                        "description": "List of project IDs",
                        "type": "array",
                        "items": {
                            "type": "integer",
                            "format": "int32"
                        },
                        "required": false
                    },
                    {
                        "in": "path",
                        "name": "organization_id",
                        "type": "integer",
                        "format": "int32",
                        "required": true
                    }
                ],
                "responses": {
                    "200": {
                        "description": "A list of url activities",
                        "schema": {
                            "type": "object",
                            "properties": {
                                "urls": {
                                    "type": "array",
                                    "items": {
                                        "$ref": "#/definitions/UrlActivity"
                                    }
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Invalid parameters",
                        "schema": {
                            "$ref": "#/definitions/Hubstaff_Public_V2_Entities_Error"
                        }
                    },
                    "401": {
                        "description": "Unauthorized",
                        "schema": {
                            "$ref": "#/definitions/Hubstaff_Public_V2_Entities_Error"
                        }
                    },
                    "403": {
                        "description": "API access is only for organizations on an active plan",
                        "schema": {
                            "$ref": "#/definitions/Hubstaff_Public_V2_Entities_Error"
                        }
                    },
                    "404": {
                        "description": "Could not find record",
                        "schema": {
                            "$ref": "#/definitions/Hubstaff_Public_V2_Entities_Error"
                        }
                    },
                    "429": {
                        "description": "Rate limit exceeded",
                        "schema": {
                            "$ref": "#/definitions/Hubstaff_Public_V2_Entities_Error"
                        }
                    }
                },
                "tags": [
                    "url_activities"
                ],
                "operationId": "getV2OrganizationsOrganizationIdUrlActivities"
            }
        },
        "/v2/organizations/{organization_id}/url_activities/daily": {
            "get": {
                "summary": "Retrieve daily url activities",
                "description": "Returns a collection of daily url activities.\nDaily url activities are aggregated url activities by the organization date.\nThe url activities can optionally be filtered to those of a given organization.\nDate range Limit: 14 days\nEarliest Date: 1 full month\n",
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "in": "query",
                        "name": "page_start_id",
                        "description": "The page start ID.",
                        "type": "integer",
                        "format": "int32",
                        "default": 0,
                        "required": false
                    },
                    {
                        "in": "query",
                        "name": "page_limit",
                        "description": "The default page size",
                        "type": "integer",
                        "format": "int32",
                        "required": false
                    },
                    {
                        "in": "query",
                        "name": "date[start]",
                        "description": "Start date (ISO 8601)",
                        "type": "string",
                        "format": "date",
                        "required": true
                    },
                    {
                        "in": "query",
                        "name": "date[stop]",
                        "description": "Stop date (ISO 8601, Inclusive)",
                        "type": "string",
                        "format": "date",
                        "required": true
                    },
                    {
                        "in": "query",
                        "name": "user_ids",
                        "description": "List of user IDs",
                        "type": "array",
                        "items": {
                            "type": "integer",
                            "format": "int32"
                        },
                        "required": false
                    },
                    {
                        "in": "query",
                        "name": "task_ids",
                        "description": "List of task IDs",
                        "type": "array",
                        "items": {
                            "type": "integer",
                            "format": "int32"
                        },
                        "required": false
                    },
                    {
                        "in": "query",
                        "name": "project_ids",
                        "description": "List of project IDs",
                        "type": "array",
                        "items": {
                            "type": "integer",
                            "format": "int32"
                        },
                        "required": false
                    },
                    {
                        "in": "path",
                        "name": "organization_id",
                        "type": "integer",
                        "format": "int32",
                        "required": true
                    }
                ],
                "responses": {
                    "200": {
                        "description": "A list of daily url activities",
                        "schema": {
                            "type": "object",
                            "properties": {
                                "daily_urls": {
                                    "type": "array",
                                    "items": {
                                        "$ref": "#/definitions/DailyUrlActivity"
                                    }
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Invalid parameters",
                        "schema": {
                            "$ref": "#/definitions/Hubstaff_Public_V2_Entities_Error"
                        }
                    },
                    "401": {
                        "description": "Unauthorized",
                        "schema": {
                            "$ref": "#/definitions/Hubstaff_Public_V2_Entities_Error"
                        }
                    },
                    "403": {
                        "description": "API access is only for organizations on an active plan",
                        "schema": {
                            "$ref": "#/definitions/Hubstaff_Public_V2_Entities_Error"
                        }
                    },
                    "404": {
                        "description": "Could not find record",
                        "schema": {
                            "$ref": "#/definitions/Hubstaff_Public_V2_Entities_Error"
                        }
                    },
                    "429": {
                        "description": "Rate limit exceeded",
                        "schema": {
                            "$ref": "#/definitions/Hubstaff_Public_V2_Entities_Error"
                        }
                    }
                },
                "tags": [
                    "url_activities"
                ],
                "operationId": "getV2OrganizationsOrganizationIdUrlActivitiesDaily"
            }
        },
        "/v2/organizations/{organization_id}/time_edit_logs": {
            "get": {
                "summary": "Retrieve time edit logs",
                "description": "Returns a collection of time edited logs.\nDate range Limit: 31 days\nEarliest Date: 3 full years\n",
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "in": "query",
                        "name": "page_start_id",
                        "description": "The page start ID.",
                        "type": "integer",
                        "format": "int32",
                        "default": 0,
                        "required": false
                    },
                    {
                        "in": "query",
                        "name": "page_limit",
                        "description": "The default page size",
                        "type": "integer",
                        "format": "int32",
                        "required": false
                    },
                    {
                        "in": "query",
                        "name": "created[start]",
                        "description": "Start time (ISO 8601)",
                        "type": "string",
                        "format": "date-time",
                        "required": true
                    },
                    {
                        "in": "query",
                        "name": "created[stop]",
                        "description": "Stop time (ISO 8601, exclusive)",
                        "type": "string",
                        "format": "date-time",
                        "required": true
                    },
                    {
                        "in": "query",
                        "name": "user_ids",
                        "description": "List of user IDs",
                        "type": "array",
                        "items": {
                            "type": "integer",
                            "format": "int32"
                        },
                        "required": false
                    },
                    {
                        "in": "query",
                        "name": "task_ids",
                        "description": "List of task IDs",
                        "type": "array",
                        "items": {
                            "type": "integer",
                            "format": "int32"
                        },
                        "required": false
                    },
                    {
                        "in": "query",
                        "name": "project_ids",
                        "description": "List of project IDs",
                        "type": "array",
                        "items": {
                            "type": "integer",
                            "format": "int32"
                        },
                        "required": false
                    },
                    {
                        "in": "path",
                        "name": "organization_id",
                        "type": "integer",
                        "format": "int32",
                        "required": true
                    }
                ],
                "responses": {
                    "200": {
                        "description": "A list of time edit logs",
                        "schema": {
                            "type": "object",
                            "properties": {
                                "time_edit_logs": {
                                    "type": "array",
                                    "items": {
                                        "$ref": "#/definitions/TimeEditLog"
                                    }
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Invalid parameters",
                        "schema": {
                            "$ref": "#/definitions/Hubstaff_Public_V2_Entities_Error"
                        }
                    },
                    "401": {
                        "description": "Unauthorized",
                        "schema": {
                            "$ref": "#/definitions/Hubstaff_Public_V2_Entities_Error"
                        }
                    },
                    "403": {
                        "description": "API access is only for organizations on an active plan",
                        "schema": {
                            "$ref": "#/definitions/Hubstaff_Public_V2_Entities_Error"
                        }
                    },
                    "404": {
                        "description": "Could not find record",
                        "schema": {
                            "$ref": "#/definitions/Hubstaff_Public_V2_Entities_Error"
                        }
                    },
                    "429": {
                        "description": "Rate limit exceeded",
                        "schema": {
                            "$ref": "#/definitions/Hubstaff_Public_V2_Entities_Error"
                        }
                    }
                },
                "tags": [
                    "time_edit_logs"
                ],
                "operationId": "getV2OrganizationsOrganizationIdTimeEditLogs"
            }
        },
        "/v2/organizations/{organization_id}/team_payments": {
            "get": {
                "summary": "Retrieve team payments",
                "description": "Returns a collection of team payments.\nEarliest Date: 3 full years\n",
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "in": "query",
                        "name": "page_start_id",
                        "description": "The page start ID.",
                        "type": "integer",
                        "format": "int32",
                        "default": 0,
                        "required": false
                    },
                    {
                        "in": "query",
                        "name": "page_limit",
                        "description": "The default page size",
                        "type": "integer",
                        "format": "int32",
                        "required": false
                    },
                    {
                        "in": "query",
                        "name": "created[start]",
                        "description": "Start time (ISO 8601)",
                        "type": "string",
                        "format": "date-time",
                        "required": true
                    },
                    {
                        "in": "query",
                        "name": "created[stop]",
                        "description": "Stop time (ISO 8601, exclusive)",
                        "type": "string",
                        "format": "date-time",
                        "required": true
                    },
                    {
                        "in": "query",
                        "name": "user_ids",
                        "description": "List of user IDs",
                        "type": "array",
                        "items": {
                            "type": "integer",
                            "format": "int32"
                        },
                        "required": false
                    },
                    {
                        "in": "query",
                        "name": "project_ids",
                        "description": "List of project IDs",
                        "type": "array",
                        "items": {
                            "type": "integer",
                            "format": "int32"
                        },
                        "required": false
                    },
                    {
                        "in": "path",
                        "name": "organization_id",
                        "type": "integer",
                        "format": "int32",
                        "required": true
                    }
                ],
                "responses": {
                    "200": {
                        "description": "A list of team payments",
                        "schema": {
                            "type": "object",
                            "properties": {
                                "team_payments": {
                                    "type": "array",
                                    "items": {
                                        "$ref": "#/definitions/TeamPayment"
                                    }
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Invalid parameters",
                        "schema": {
                            "$ref": "#/definitions/Hubstaff_Public_V2_Entities_Error"
                        }
                    },
                    "401": {
                        "description": "Unauthorized",
                        "schema": {
                            "$ref": "#/definitions/Hubstaff_Public_V2_Entities_Error"
                        }
                    },
                    "403": {
                        "description": "API access is only for organizations on an active plan",
                        "schema": {
                            "$ref": "#/definitions/Hubstaff_Public_V2_Entities_Error"
                        }
                    },
                    "404": {
                        "description": "Could not find record",
                        "schema": {
                            "$ref": "#/definitions/Hubstaff_Public_V2_Entities_Error"
                        }
                    },
                    "429": {
                        "description": "Rate limit exceeded",
                        "schema": {
                            "$ref": "#/definitions/Hubstaff_Public_V2_Entities_Error"
                        }
                    }
                },
                "tags": [
                    "team_payments"
                ],
                "operationId": "getV2OrganizationsOrganizationIdTeamPayments"
            }
        },
        "/v2/organizations/{organization_id}/activities": {
            "get": {
                "summary": "Retrieve activities",
                "description": "Returns a collection of activities.\nThe activities can optionally be filtered to those of a given organization.\n\nThe preferred endpoints to fetch data about activities are the daily endpoints. \n\nDate range Limit: 7 days\nEarliest Date: 6 full months\n",
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "in": "query",
                        "name": "page_start_id",
                        "description": "The page start ID.",
                        "type": "integer",
                        "format": "int32",
                        "default": 0,
                        "required": false
                    },
                    {
                        "in": "query",
                        "name": "page_limit",
                        "description": "The default page size",
                        "type": "integer",
                        "format": "int32",
                        "required": false
                    },
                    {
                        "in": "query",
                        "name": "time_slot[start]",
                        "description": "Start time (ISO 8601)",
                        "type": "string",
                        "format": "date-time",
                        "required": true
                    },
                    {
                        "in": "query",
                        "name": "time_slot[stop]",
                        "description": "Stop time (ISO 8601, Exclusive)",
                        "type": "string",
                        "format": "date-time",
                        "required": true
                    },
                    {
                        "in": "query",
                        "name": "user_ids",
                        "description": "List of user IDs",
                        "type": "array",
                        "items": {
                            "type": "integer",
                            "format": "int32"
                        },
                        "required": false
                    },
                    {
                        "in": "query",
                        "name": "task_ids",
                        "description": "List of task IDs",
                        "type": "array",
                        "items": {
                            "type": "integer",
                            "format": "int32"
                        },
                        "required": false
                    },
                    {
                        "in": "query",
                        "name": "project_ids",
                        "description": "List of project IDs",
                        "type": "array",
                        "items": {
                            "type": "integer",
                            "format": "int32"
                        },
                        "required": false
                    },
                    {
                        "in": "path",
                        "name": "organization_id",
                        "type": "integer",
                        "format": "int32",
                        "required": true
                    }
                ],
                "responses": {
                    "200": {
                        "description": "A list of activities",
                        "schema": {
                            "type": "object",
                            "properties": {
                                "activities": {
                                    "type": "array",
                                    "items": {
                                        "$ref": "#/definitions/Activity"
                                    }
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Invalid parameters",
                        "schema": {
                            "$ref": "#/definitions/Hubstaff_Public_V2_Entities_Error"
                        }
                    },
                    "401": {
                        "description": "Unauthorized",
                        "schema": {
                            "$ref": "#/definitions/Hubstaff_Public_V2_Entities_Error"
                        }
                    },
                    "403": {
                        "description": "API access is only for organizations on an active plan",
                        "schema": {
                            "$ref": "#/definitions/Hubstaff_Public_V2_Entities_Error"
                        }
                    },
                    "404": {
                        "description": "Could not find record",
                        "schema": {
                            "$ref": "#/definitions/Hubstaff_Public_V2_Entities_Error"
                        }
                    },
                    "429": {
                        "description": "Rate limit exceeded",
                        "schema": {
                            "$ref": "#/definitions/Hubstaff_Public_V2_Entities_Error"
                        }
                    }
                },
                "tags": [
                    "activities"
                ],
                "operationId": "getV2OrganizationsOrganizationIdActivities"
            }
        },
        "/v2/organizations/{organization_id}/activities/daily": {
            "get": {
                "summary": "Retrieve daily activities",
                "description": "Returns a collection of daily activities.\nDaily activities are aggregated activities by the organization date.\nThe daily activities can optionally be filtered to those of a given organization.\nDate range Limit: 31 days\nEarliest Date: 3 full years\n",
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "in": "query",
                        "name": "page_start_id",
                        "description": "The page start ID.",
                        "type": "integer",
                        "format": "int32",
                        "default": 0,
                        "required": false
                    },
                    {
                        "in": "query",
                        "name": "page_limit",
                        "description": "The default page size",
                        "type": "integer",
                        "format": "int32",
                        "required": false
                    },
                    {
                        "in": "query",
                        "name": "date[start]",
                        "description": "Start date (ISO 8601)",
                        "type": "string",
                        "format": "date",
                        "required": true
                    },
                    {
                        "in": "query",
                        "name": "date[stop]",
                        "description": "Stop date (ISO 8601, Inclusive)",
                        "type": "string",
                        "format": "date",
                        "required": true
                    },
                    {
                        "in": "query",
                        "name": "user_ids",
                        "description": "List of user IDs",
                        "type": "array",
                        "items": {
                            "type": "integer",
                            "format": "int32"
                        },
                        "required": false
                    },
                    {
                        "in": "query",
                        "name": "task_ids",
                        "description": "List of task IDs",
                        "type": "array",
                        "items": {
                            "type": "integer",
                            "format": "int32"
                        },
                        "required": false
                    },
                    {
                        "in": "query",
                        "name": "project_ids",
                        "description": "List of project IDs",
                        "type": "array",
                        "items": {
                            "type": "integer",
                            "format": "int32"
                        },
                        "required": false
                    },
                    {
                        "in": "path",
                        "name": "organization_id",
                        "type": "integer",
                        "format": "int32",
                        "required": true
                    }
                ],
                "responses": {
                    "200": {
                        "description": "A list of daily activities",
                        "schema": {
                            "type": "object",
                            "properties": {
                                "daily_activities": {
                                    "type": "array",
                                    "items": {
                                        "$ref": "#/definitions/DailyActivity"
                                    }
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Invalid parameters",
                        "schema": {
                            "$ref": "#/definitions/Hubstaff_Public_V2_Entities_Error"
                        }
                    },
                    "401": {
                        "description": "Unauthorized",
                        "schema": {
                            "$ref": "#/definitions/Hubstaff_Public_V2_Entities_Error"
                        }
                    },
                    "403": {
                        "description": "API access is only for organizations on an active plan",
                        "schema": {
                            "$ref": "#/definitions/Hubstaff_Public_V2_Entities_Error"
                        }
                    },
                    "404": {
                        "description": "Could not find record",
                        "schema": {
                            "$ref": "#/definitions/Hubstaff_Public_V2_Entities_Error"
                        }
                    },
                    "429": {
                        "description": "Rate limit exceeded",
                        "schema": {
                            "$ref": "#/definitions/Hubstaff_Public_V2_Entities_Error"
                        }
                    }
                },
                "tags": [
                    "activities"
                ],
                "operationId": "getV2OrganizationsOrganizationIdActivitiesDaily"
            }
        },
        "/v2/organizations/{organization_id}/tasks": {
            "get": {
                "summary": "Retrieve tasks",
                "description": "Returns a collection of tasks.\nThe tasks can optionally be filtered to those of a given organization.\n",
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "in": "query",
                        "name": "page_start_id",
                        "description": "The page start ID.",
                        "type": "integer",
                        "format": "int32",
                        "default": 0,
                        "required": false
                    },
                    {
                        "in": "query",
                        "name": "page_limit",
                        "description": "The default page size",
                        "type": "integer",
                        "format": "int32",
                        "required": false
                    },
                    {
                        "in": "query",
                        "name": "status",
                        "description": "A status or list of statuses to filter",
                        "type": "array",
                        "items": {
                            "type": "string",
                            "enum": [
                                "active",
                                "completed",
                                "deleted",
                                "archived",
                                "archived_native_active",
                                "archived_native_completed",
                                "archived_native_deleted"
                            ]
                        },
                        "required": false
                    },
                    {
                        "in": "query",
                        "name": "user_ids",
                        "description": "List of user IDs",
                        "type": "array",
                        "items": {
                            "type": "integer",
                            "format": "int32"
                        },
                        "required": false
                    },
                    {
                        "in": "query",
                        "name": "project_ids",
                        "description": "List of project IDs",
                        "type": "array",
                        "items": {
                            "type": "integer",
                            "format": "int32"
                        },
                        "required": false
                    },
                    {
                        "in": "path",
                        "name": "organization_id",
                        "type": "integer",
[...]
