{% extends "base.html" %}
{% load static %}

{% block header %}
    <link rel="stylesheet" type="text/css" href="{% static 'swagger-ui-dist/swagger-ui.css' %}" >
{% endblock %}

{% block content %}

    <div style="padding: 20px; background-color: #eef;">
      <h1>Hubstaff API v{{ request.user.pk }}</h1>
      Below is your very personalized hubstaff API.
      {% if SUPPORT_EMAIL %}
        <p>If you find any inconsistencies please report to <a href="mailto:{{ SUPPORT_EMAIL }}">{{ SUPPORT_EMAIL }}</a>.</p>
      {% endif %}

      <h2>Authentication</h2>
      <p>
        The API uses token-based authentication, each reqeust is required to have two tokens:<br>
        <code>App token</code> - The token that identifies and authenticates the app.<br>
        <code>Auth token</code> - The token that identifies and authenticates the user.<br>
        If either of these tokens are missing or invalid the API will respond with an error.
      </p>
      <p>
        Here are your credentials to access the API:
        <ul>
          <li><b>Email:</b> {{ request.user.email }}</li>
          <li><b>Password:</b> {{ request.user.api_credentials.password }}</li>
          <li><b>App token:</b> {{ request.user.api_credentials.app_token }}</li>
          {% comment %}
            <li><b>Auth token:</b> {{ request.user.api_credentials.auth_token }}</li>
          {% endcomment %}
        </ul>
        <i>Important: You should not use your real Hubstaff credentials.</i>
      </p>


      <h2>Tips</h2>
      <ul>
        <li>Whenever any header requires boolean value, use string "1" which will be treated as "True"</li>
        <li>For pagination instructions see <a href="https://developer.hubstaff.com/#pagination" target="_blank">this page</a>.</li>
      </ul>

    </div>

    <div id="swagger-ui" style="padding: 0px 0px;"></div>

    <script src="{% static 'swagger-ui-dist/swagger-ui-bundle.js' %}"></script>
    <script src="{% static 'swagger-ui-dist/swagger-ui-standalone-preset.js' %}"></script>

    <script>
        const ui = SwaggerUIBundle({
            url: "/swagger.json",
            dom_id: '#swagger-ui',
            deepLinking: true,
            presets: [
              SwaggerUIBundle.presets.apis,
              SwaggerUIStandalonePreset
            ],
            plugins: [
              SwaggerUIBundle.plugins.DownloadUrl
            ],
            layout: "StandaloneLayout",
            defaultModelsExpandDepth: -1,
            supportedSubmitMethods: []
          })

          window.ui = ui
    </script>
{% endblock %}
